policy_module(guest, 1.3.0)

########################################
#
# Declarations
#

# role guest_r;

userdom_restricted_user_template(guest)

kernel_read_system_state(guest_t)

########################################
#
# Local policy
#

optional_policy(`
	apache_role(guest_r, guest_t)
')

optional_policy(`
	dbus_dontaudit_chat_system_bus(guest_t)
')

optional_policy(`
	systemd_dontaudit_dbus_chat(guest_t)
')

# gen_user(guest_u, user, guest_r, s0, s0)
