policy_module(sysadm_secadm, 1.0.0)

########################################
#
# Declarations
#

gen_require(`
	type sysadm_t;
	role sysadm_r;
')

userdom_security_admin_template(sysadm_t, sysadm_r)

#######################################
#
# Local policy
#

mls_file_write_all_levels(sysadm_t)

logging_manage_audit_log(sysadm_t)
logging_manage_audit_config(sysadm_t)
logging_run_auditctl(sysadm_t, sysadm_r)
logging_stream_connect_syslog(sysadm_t)
