##<summary>SELinux policy for antivirus programs.</summary>

#####################################
## <summary>
##      Create antivirus domain.
## </summary>
## <param name="domain">
##      <summary>
##       Type to be used as an antivirus domain.
##      </summary>
## </param>
#
interface(`antivirus_domain',`
        gen_require(`
                attribute antivirus_domain;
        ')

        typeattribute $1 antivirus_domain;
')
