## <summary>SELinux policy for antivirus programs.</summary>

######################################
## <summary>
##  Creates types and rules for a basic
##  antivirus domain.
## </summary>
## <param name="prefix">
##  <summary>
##  Prefix for the domain.
##  </summary>
## </param>
#
interface(`antivirus_domain_template',`
        gen_require(`
                attribute antivirus_domain;
        ')

        typeattribute $1 antivirus_domain;
')
