policy_module(blkmapd, 1.0.0)

########################################
#
# Declarations
#

type blkmapd_t;
type blkmapd_exec_t;
init_daemon_domain(blkmapd_t, blkmapd_exec_t)

type blkmapd_initrc_exec_t;
init_script_file(blkmapd_initrc_exec_t)

type blkmapd_var_run_t;
files_pid_file(blkmapd_var_run_t)


########################################
#
# blkmapd local policy
#

allow blkmapd_t self:capability sys_rawio;

allow blkmapd_t self:unix_dgram_socket create_socket_perms;
allow blkmapd_t self:unix_stream_socket create_socket_perms;

manage_files_pattern(blkmapd_t, blkmapd_var_run_t, blkmapd_var_run_t)
files_pid_filetrans(blkmapd_t, blkmapd_var_run_t, { file })

kernel_dgram_send(blkmapd_t)
kernel_read_system_state(blkmapd_t)

dev_list_sysfs(blkmapd_t)

fs_list_rpc(blkmapd_t)
fs_rw_rpc_named_pipes(blkmapd_t)

storage_raw_read_fixed_disk(blkmapd_t)
storage_raw_read_removable_device(blkmapd_t)

logging_create_devlog_dev(blkmapd_t)
logging_send_syslog_msg(blkmapd_t)
logging_read_syslog_pid(blkmapd_t)

rpc_read_nfs_state_data(blkmapd_t)
