policy_module(bumblebee, 1.0.0)

########################################
#
# Declarations
#

type bumblebee_t;
type bumblebee_exec_t;
init_daemon_domain(bumblebee_t, bumblebee_exec_t)

type bumblebee_var_run_t;
files_pid_file(bumblebee_var_run_t)

type bumblebee_unit_file_t;
systemd_unit_file(bumblebee_unit_file_t)

########################################
#
# bumblebee local policy
#

allow bumblebee_t self:capability { setgid };
allow bumblebee_t self:process { fork signal_perms };
allow bumblebee_t self:fifo_file rw_fifo_file_perms;
allow bumblebee_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bumblebee_t, bumblebee_var_run_t, bumblebee_var_run_t)
manage_files_pattern(bumblebee_t, bumblebee_var_run_t, bumblebee_var_run_t)
manage_sock_files_pattern(bumblebee_t, bumblebee_var_run_t, bumblebee_var_run_t)
manage_lnk_files_pattern(bumblebee_t, bumblebee_var_run_t, bumblebee_var_run_t)
files_pid_filetrans(bumblebee_t, bumblebee_var_run_t, { dir file lnk_file sock_file })

kernel_read_system_state(bumblebee_t)
kernel_dontaudit_access_check_proc(bumblebee_t)

dev_read_sysfs(bumblebee_t)

domain_use_interactive_fds(bumblebee_t)

files_read_etc_files(bumblebee_t)

logging_send_syslog_msg(bumblebee_t)

modutils_domtrans_insmod(bumblebee_t)

miscfiles_read_localization(bumblebee_t)
