policy_module(cfengine, 1.0.0)

########################################
#
# Declarations
#

attribute cfengine_domain;

cfengine_domain_template(serverd)
cfengine_domain_template(execd)
cfengine_domain_template(monitord)

type cfengine_initrc_exec_t;
init_script_file(cfengine_initrc_exec_t)

type cfengine_var_lib_t;
files_type(cfengine_var_lib_t)

type cfengine_log_t;
logging_log_file(cfengine_log_t)

########################################
#
# Exec local policy
#

kernel_read_sysctl(cfengine_execd_t)

domain_read_all_domains_state(cfengine_execd_t)

########################################
#
# Monitord local policy
#

kernel_read_hotplug_sysctls(cfengine_monitord_t)
kernel_read_network_state(cfengine_monitord_t)

domain_read_all_domains_state(cfengine_monitord_t)

fs_getattr_xattr_fs(cfengine_monitord_t)
