policy_module(cgdcbxd, 1.0.0)

########################################
#
# Declarations
#

type cgdcbxd_t;
type cgdcbxd_exec_t;
init_daemon_domain(cgdcbxd_t, cgdcbxd_exec_t)

permissive cgdcbxd_t;

type cgdcbxd_var_run_t;
files_pid_file(cgdcbxd_var_run_t)

type cgdcbxd_unit_file_t;

########################################
#
# cgdcbxd local policy
#
allow cgdcbxd_t self:fifo_file rw_fifo_file_perms;
allow cgdcbxd_t self:unix_stream_socket create_stream_socket_perms;

dontaudit cgdcbxd_t self:capability sys_ptrace;
allow cgdcbxd_t self:netlink_route_socket rw_netlink_socket_perms;

manage_dirs_pattern(cgdcbxd_t, cgdcbxd_var_run_t, cgdcbxd_var_run_t)
manage_files_pattern(cgdcbxd_t, cgdcbxd_var_run_t, cgdcbxd_var_run_t)
manage_lnk_files_pattern(cgdcbxd_t, cgdcbxd_var_run_t, cgdcbxd_var_run_t)
files_pid_filetrans(cgdcbxd_t, cgdcbxd_var_run_t, { dir file lnk_file })

domain_use_interactive_fds(cgdcbxd_t)

domain_dontaudit_read_all_domains_state(cgdcbxd_t)
kernel_read_system_state(cgdcbxd_t)
kernel_read_network_state(cgdcbxd_t)
kernel_search_network_sysctl(cgdcbxd_t)


files_read_etc_files(cgdcbxd_t)

miscfiles_read_localization(cgdcbxd_t)
