## <summary>ejabberd is a Free and Open Source distributed fault-tolerant: Jabber/XMPP server. </summary>
########################################
## <summary>
##	All of the rules required to
##	administrate an ejabberd environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ejabberd_admin',`
	gen_require(`
		type ejabberd_t, ejabberd_exec_t;
		type ejabberd_var_lib_t, ejabberd_var_log_t;
	')

    admin_process_pattern($1, ejabberd_t)

    init_startstop_service($1, $2, ejabberd_t, ejabberd_initrc_exec_t, ejabberd_unit_t)

	files_search_var_lib($1)
	admin_pattern($1, ejabberd_var_lib_t)

	logging_search_logs($1)
	admin_pattern($1, ejabberd_var_log_t)
')
