## <summary>Various games.</summary>

########################################
## <summary>
##	Role access for games.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
#
interface(`games_role',`
	gen_require(`
		attribute_role games_roles;
		type games_t, games_exec_t;
	')

	roleattribute $1 games_roles;

	domtrans_pattern($2, games_exec_t, games_t)

	allow $2 games_t:unix_stream_socket connectto;
	allow games_t $2:unix_stream_socket connectto;

	ps_process_pattern($2, games_t)
	allow $2 games_t:process { ptrace signal_perms };
')

########################################
## <summary>
##	Read and write games data files.
##	games data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`games_rw_data',`
	gen_require(`
		type games_data_t;
	')

	files_search_var_lib($1)
	rw_files_pattern($1, games_data_t, games_data_t)
')
