policy_module(glusterfs, 1.1.2)

## <desc>
## <p>
## Allow glusterfsd to modify public files used for public file
## transfer services.  Files/Directories must be labeled
## public_content_rw_t.
## </p>
## </desc>
gen_tunable(gluster_anon_write, false)

## <desc>
## <p>
## Allow glusterfsd to share any file/directory read only.
## </p>
## </desc>
gen_tunable(gluster_export_all_ro, false)

## <desc>
## <p>
## Allow glusterfsd to share any file/directory read/write.
## </p>
## </desc>
gen_tunable(gluster_export_all_rw, true)

########################################
#
# Declarations
#

type glusterd_t;
type glusterd_exec_t;
init_daemon_domain(glusterd_t, glusterd_exec_t)

type glusterd_conf_t;
files_type(glusterd_conf_t)

type glusterd_initrc_exec_t;
init_script_file(glusterd_initrc_exec_t)

type glusterd_tmp_t;
files_tmp_file(glusterd_tmp_t)

type glusterd_log_t;
logging_log_file(glusterd_log_t)

type glusterd_var_run_t;
files_pid_file(glusterd_var_run_t)

type glusterd_var_lib_t;
files_type(glusterd_var_lib_t)

type glusterd_brick_t;
files_type(glusterd_brick_t)

########################################
#
# Local policy
#

allow glusterd_t self:capability { sys_admin sys_resource dac_override chown dac_read_search fowner fsetid kill setgid setuid net_admin };

allow glusterd_t self:capability2 block_suspend;
allow glusterd_t self:process { getcap setcap setrlimit signal_perms };
allow glusterd_t self:fifo_file rw_fifo_file_perms;
allow glusterd_t self:tcp_socket { accept listen };
allow glusterd_t self:unix_stream_socket { accept listen connectto };

manage_dirs_pattern(glusterd_t, glusterd_conf_t, glusterd_conf_t)
manage_files_pattern(glusterd_t, glusterd_conf_t, glusterd_conf_t)
files_etc_filetrans(glusterd_t, glusterd_conf_t, { dir file }, "glusterfs")

manage_dirs_pattern(glusterd_t, glusterd_tmp_t, glusterd_tmp_t)
manage_files_pattern(glusterd_t, glusterd_tmp_t, glusterd_tmp_t)
manage_sock_files_pattern(glusterd_t, glusterd_tmp_t, glusterd_tmp_t)
files_tmp_filetrans(glusterd_t, glusterd_tmp_t, { dir file sock_file })
allow glusterd_t glusterd_tmp_t:dir mounton;

manage_dirs_pattern(glusterd_t, glusterd_log_t, glusterd_log_t)
append_files_pattern(glusterd_t, glusterd_log_t, glusterd_log_t)
create_files_pattern(glusterd_t, glusterd_log_t, glusterd_log_t)
setattr_files_pattern(glusterd_t, glusterd_log_t, glusterd_log_t)
logging_log_filetrans(glusterd_t, glusterd_log_t, dir)

manage_dirs_pattern(glusterd_t, glusterd_var_run_t, glusterd_var_run_t)
manage_files_pattern(glusterd_t, glusterd_var_run_t, glusterd_var_run_t)
manage_sock_files_pattern(glusterd_t, glusterd_var_run_t, glusterd_var_run_t)
files_pid_filetrans(glusterd_t, glusterd_var_run_t, { dir file sock_file })

manage_dirs_pattern(glusterd_t, glusterd_var_lib_t, glusterd_var_lib_t)
manage_files_pattern(glusterd_t, glusterd_var_lib_t, glusterd_var_lib_t)
manage_sock_files_pattern(glusterd_t, glusterd_var_lib_t, glusterd_var_lib_t)
files_var_lib_filetrans(glusterd_t, glusterd_var_lib_t, dir)
relabel_files_pattern(glusterd_t, glusterd_var_lib_t, glusterd_var_lib_t)

manage_dirs_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
manage_files_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
manage_fifo_files_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
manage_lnk_files_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
relabel_files_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
relabel_lnk_files_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)
relabel_dirs_pattern(glusterd_t, glusterd_brick_t, glusterd_brick_t)

can_exec(glusterd_t, glusterd_exec_t)

kernel_read_system_state(glusterd_t)
kernel_read_network_state(glusterd_t)
kernel_read_net_sysctls(glusterd_t)
kernel_request_load_module(glusterd_t)

corecmd_exec_bin(glusterd_t)
corecmd_exec_shell(glusterd_t)

corenet_all_recvfrom_unlabeled(glusterd_t)
corenet_all_recvfrom_netlabel(glusterd_t)
corenet_tcp_sendrecv_generic_if(glusterd_t)
corenet_udp_sendrecv_generic_if(glusterd_t)
corenet_tcp_sendrecv_generic_node(glusterd_t)
corenet_udp_sendrecv_generic_node(glusterd_t)
corenet_tcp_sendrecv_all_ports(glusterd_t)
corenet_udp_sendrecv_all_ports(glusterd_t)
corenet_tcp_bind_generic_node(glusterd_t)
corenet_udp_bind_generic_node(glusterd_t)

corenet_tcp_connect_gluster_port(glusterd_t)
corenet_tcp_bind_gluster_port(glusterd_t)

# replacement for rpc.mountd
corenet_sendrecv_all_server_packets(glusterd_t)
corenet_tcp_bind_all_reserved_ports(glusterd_t)
corenet_udp_bind_all_rpc_ports(glusterd_t)
corenet_tcp_bind_all_rpc_ports(glusterd_t)
corenet_tcp_bind_nfs_port(glusterd_t)
corenet_udp_bind_nfs_port(glusterd_t)
corenet_udp_bind_mountd_port(glusterd_t)
corenet_tcp_bind_mountd_port(glusterd_t)
corenet_udp_bind_ipp_port(glusterd_t)

corenet_sendrecv_all_client_packets(glusterd_t)
corenet_tcp_bind_all_unreserved_ports(glusterd_t)
corenet_tcp_connect_all_unreserved_ports(glusterd_t)
corenet_tcp_connect_all_ephemeral_ports(glusterd_t)
corenet_tcp_connect_ssh_port(glusterd_t)

dev_read_sysfs(glusterd_t)
dev_read_urand(glusterd_t)
dev_read_rand(glusterd_t)

domain_read_all_domains_state(glusterd_t)

domain_use_interactive_fds(glusterd_t)

fs_mount_all_fs(glusterd_t)
fs_unmount_all_fs(glusterd_t)
fs_getattr_all_fs(glusterd_t)

files_mounton_non_security(glusterd_t)

storage_rw_fuse(glusterd_t)

auth_use_nsswitch(glusterd_t)

fs_getattr_all_fs(glusterd_t)

logging_send_syslog_msg(glusterd_t)
libs_exec_ldconfig(glusterd_t)

miscfiles_read_localization(glusterd_t)
miscfiles_read_public_files(glusterd_t)

userdom_manage_user_home_dirs(glusterd_t)
userdom_filetrans_home_content(glusterd_t)

mount_domtrans(glusterd_t)
tunable_policy(`gluster_anon_write',`
	miscfiles_manage_public_files(glusterd_t)
') 

tunable_policy(`gluster_export_all_ro',`
	fs_read_noxattr_fs_files(glusterd_t) 
	files_read_non_security_files(glusterd_t) 
')

tunable_policy(`gluster_export_all_rw',`
	fs_manage_noxattr_fs_files(glusterd_t) 
	files_manage_non_security_dirs(glusterd_t)
	files_manage_non_security_files(glusterd_t)
    files_relabel_base_file_types(glusterd_t)
')

optional_policy(`
    gluster_execute_lib(glusterd_t)
')

optional_policy(`
    rpc_domtrans_rpcd(glusterd_t)
    rpc_kill_rpcd(glusterd_t)
')

optional_policy(`
	rsync_exec(glusterd_t)
')

optional_policy(`
	ssh_exec(glusterd_t)
')
