
## <summary>policy for hypervkvp</summary>

########################################
## <summary>
##	Execute TEMPLATE in the hypervkvp domin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hypervkvp_domtrans',`
	gen_require(`
		type hypervkvp_t, hypervkvp_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hypervkvp_exec_t, hypervkvp_t)
')
