policy_module(ibacm, 1.0.0)

########################################
#
# Declarations
#

type ibacm_t;
type ibacm_exec_t;
init_daemon_domain(ibacm_t, ibacm_exec_t)

type ibacm_log_t;
logging_log_file(ibacm_log_t)

type ibacm_var_run_t;
files_pid_file(ibacm_var_run_t)

########################################
#
# ibacm local policy
#
allow ibacm_t self:fifo_file rw_fifo_file_perms;
allow ibacm_t self:unix_stream_socket create_stream_socket_perms;
allow ibacm_t ibacm_t:netlink_rdma_socket { create_socket_perms };

manage_dirs_pattern(ibacm_t, ibacm_log_t, ibacm_log_t)
manage_files_pattern(ibacm_t, ibacm_log_t, ibacm_log_t)
manage_lnk_files_pattern(ibacm_t, ibacm_log_t, ibacm_log_t)
logging_log_filetrans(ibacm_t, ibacm_log_t, { dir file lnk_file })

manage_dirs_pattern(ibacm_t, ibacm_var_run_t, ibacm_var_run_t)
manage_files_pattern(ibacm_t, ibacm_var_run_t, ibacm_var_run_t)
manage_lnk_files_pattern(ibacm_t, ibacm_var_run_t, ibacm_var_run_t)
files_pid_filetrans(ibacm_t, ibacm_var_run_t, { dir file lnk_file })

dev_rw_infiniband_dev(ibacm_t)
dev_list_sysfs(ibacm_t)
dev_read_sysfs(ibacm_t)

fs_getattr_tmpfs(ibacm_t)

init_named_socket_activation(ibacm_t, ibacm_var_run_t, "ibacm.sock")

