policy_module(ipmievd, 1.0.0)

########################################
#
# Declarations
#

type ipmievd_t;
type ipmievd_exec_t;
init_daemon_domain(ipmievd_t, ipmievd_exec_t)

type ipmievd_var_run_t;
files_pid_file(ipmievd_var_run_t)

type ipmievd_unit_file_t;
systemd_unit_file(ipmievd_unit_file_t)

########################################
#
# ipmievd local policy
#

allow ipmievd_t self:process { fork setpgid };
allow ipmievd_t self:fifo_file rw_fifo_file_perms;

manage_files_pattern(ipmievd_t, ipmievd_var_run_t, ipmievd_var_run_t)
files_pid_filetrans(ipmievd_t, ipmievd_var_run_t, { file })

dev_rw_ipmi_dev(ipmievd_t)

logging_send_syslog_msg(ipmievd_t)

