policy_module(isnsd, 1.0.0)

########################################
#
# Declarations
#

type isnsd_t;
type isnsd_exec_t;
init_daemon_domain(isnsd_t, isnsd_exec_t)

type isnsd_initrc_exec_t;
init_script_file(isnsd_initrc_exec_t)

type isnsd_var_lib_t;
files_type(isnsd_var_lib_t)

type isnsd_var_run_t;
files_pid_file(isnsd_var_run_t)

########################################
#
# isnsd local policy
#

allow isnsd_t self:capability { kill };
allow isnsd_t self:process { signal };

allow isnsd_t self:fifo_file rw_fifo_file_perms;
allow isnsd_t self:udp_socket { listen };
allow isnsd_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(isnsd_t, isnsd_var_lib_t, isnsd_var_lib_t)
manage_files_pattern(isnsd_t, isnsd_var_lib_t, isnsd_var_lib_t)
files_var_lib_filetrans(isnsd_t, isnsd_var_lib_t, { dir file })

manage_dirs_pattern(isnsd_t, isnsd_var_run_t, isnsd_var_run_t)
manage_sock_files_pattern(isnsd_t, isnsd_var_run_t, isnsd_var_run_t)
manage_files_pattern(isnsd_t, isnsd_var_run_t, isnsd_var_run_t)
files_pid_filetrans(isnsd_t, isnsd_var_run_t, { dir file sock_file })

corenet_tcp_bind_generic_node(isnsd_t)
corenet_tcp_bind_isns_port(isnsd_t)

domain_use_interactive_fds(isnsd_t)

files_read_etc_files(isnsd_t)

logging_send_syslog_msg(isnsd_t)

sysnet_dns_name_resolve(isnsd_t)
