## <summary>Log analyzer for squid proxy.</summary>

########################################
## <summary>
##	Execute the lightsquid program in
##	the lightsquid domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`lightsquid_domtrans',`
	gen_require(`
		type lightsquid_t, lightsquid_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lightsquid_exec_t, lightsquid_t)
')

########################################
## <summary>
##	Execute lightsquid in the
##	lightsquid domain, and allow the
##	specified role the lightsquid domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`lightsquid_run',`
	gen_require(`
		attribute_role lightsquid_roles;
	')

	lightsquid_domtrans($1)
	roleattribute $2 lightsquid_roles;
')
