policy_module(lsm, 1.0.0)

########################################
#
# Declarations
#

type lsmd_t;
type lsmd_exec_t;
init_daemon_domain(lsmd_t, lsmd_exec_t)

type lsmd_var_run_t;
files_pid_file(lsmd_var_run_t)

type lsmd_unit_file_t;
systemd_unit_file(lsmd_unit_file_t)

type lsmd_plugin_t;
type lsmd_plugin_exec_t;
application_domain(lsmd_plugin_t, lsmd_plugin_exec_t)
role system_r types lsmd_plugin_t;

type lsmd_plugin_tmp_t;
files_tmp_file(lsmd_plugin_tmp_t)

########################################
#
# lsmd local policy
#
allow lsmd_t self:capability { setgid  };
allow lsmd_t self:process { fork };
allow lsmd_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(lsmd_t, lsmd_var_run_t, lsmd_var_run_t)
manage_files_pattern(lsmd_t, lsmd_var_run_t, lsmd_var_run_t)
manage_lnk_files_pattern(lsmd_t, lsmd_var_run_t, lsmd_var_run_t)
manage_sock_files_pattern(lsmd_t, lsmd_var_run_t, lsmd_var_run_t)
files_pid_filetrans(lsmd_t, lsmd_var_run_t, { dir file sock_file })

corecmd_exec_bin(lsmd_t)

logging_send_syslog_msg(lsmd_t)

########################################
#
# Local lsmd plugin policy
#

allow lsmd_plugin_t self:udp_socket create_socket_perms;
allow lsmd_plugin_t self:tcp_socket create_stream_socket_perms;

domtrans_pattern(lsmd_t, lsmd_plugin_exec_t, lsmd_plugin_t)
allow lsmd_plugin_t lsmd_t:unix_stream_socket { read write };

allow lsmd_t lsmd_plugin_exec_t:file read_file_perms;
stream_connect_pattern(lsmd_plugin_t, lsmd_var_run_t, lsmd_var_run_t, lsmd_t)

manage_files_pattern(lsmd_plugin_t, lsmd_plugin_tmp_t, lsmd_plugin_tmp_t)
manage_dirs_pattern(lsmd_plugin_t, lsmd_plugin_tmp_t, lsmd_plugin_tmp_t)
files_tmp_filetrans(lsmd_plugin_t, lsmd_plugin_tmp_t, { file dir })

kernel_read_system_state(lsmd_plugin_t)

dev_read_urand(lsmd_plugin_t)

corecmd_exec_bin(lsmd_plugin_t)

init_stream_connect(lsmd_plugin_t)
init_dontaudit_rw_stream_socket(lsmd_plugin_t)

logging_send_syslog_msg(lsmd_plugin_t)

sysnet_read_config(lsmd_plugin_t)
