## <summary>A Unix manpage-to-HTML converter.</summary>

########################################
## <summary>
##	Transition to httpd_man2html_script.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`httpd_man2html_script_domtrans',`
	gen_require(`
		type httpd_man2html_script_t, httpd_man2html_script_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, httpd_man2html_script_exec_t, httpd_man2html_script_t)
')

########################################
## <summary>
##	Search httpd_man2html_script cache directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_man2html_script_search_cache',`
	gen_require(`
		type httpd_man2html_script_cache_t;
	')

	allow $1 httpd_man2html_script_cache_t:dir search_dir_perms;
	files_search_var($1)
')

########################################
## <summary>
##	Read httpd_man2html_script cache files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_man2html_script_read_cache_files',`
	gen_require(`
		type httpd_man2html_script_cache_t;
	')

	files_search_var($1)
	read_files_pattern($1, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
')

########################################
## <summary>
##	Create, read, write, and delete
##	httpd_man2html_script cache files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_man2html_script_manage_cache_files',`
	gen_require(`
		type httpd_man2html_script_cache_t;
	')

	files_search_var($1)
	manage_files_pattern($1, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
')

########################################
## <summary>
##	Manage httpd_man2html_script cache dirs.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_man2html_script_manage_cache_dirs',`
	gen_require(`
		type httpd_man2html_script_cache_t;
	')

	files_search_var($1)
	manage_dirs_pattern($1, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an httpd_man2html_script environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_man2html_script_admin',`
	gen_require(`
		type httpd_man2html_script_t;
		type httpd_man2html_script_cache_t;
	')

	allow $1 httpd_man2html_script_t:process { ptrace signal_perms };
	ps_process_pattern($1, httpd_man2html_script_t)

	files_search_var($1)
	admin_pattern($1, httpd_man2html_script_cache_t)

	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
