policy_module(mandb, 1.1.0)

########################################
#
# Declarations
#

attribute_role mandb_roles;
roleattribute system_r mandb_roles;

type mandb_t;
type mandb_exec_t;
application_domain(mandb_t, mandb_exec_t)
role mandb_roles types mandb_t;

########################################
#
# Local policy
#

allow mandb_t self:process signal;
allow mandb_t self:fifo_file rw_fifo_file_perms;
allow mandb_t self:unix_stream_socket create_stream_socket_perms;

kernel_read_system_state(mandb_t)

corecmd_exec_bin(mandb_t)

domain_use_interactive_fds(mandb_t)

files_read_etc_files(mandb_t)

miscfiles_manage_man_cache(mandb_t)

optional_policy(`
	cron_system_entry(mandb_t, mandb_exec_t)
')
