policy_module(mandb, 1.0.0)

########################################
#
# Declarations
#

type mandb_t;
type mandb_exec_t;
init_daemon_domain(mandb_t, mandb_exec_t)
cron_system_entry(mandb_t, mandb_exec_t)

permissive mandb_t;

type mandb_cache_t;
files_type(mandb_cache_t)

########################################
#
# mandb local policy
#
allow mandb_t self:fifo_file rw_fifo_file_perms;
allow mandb_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mandb_t, mandb_cache_t, mandb_cache_t)
manage_files_pattern(mandb_t, mandb_cache_t, mandb_cache_t)
manage_lnk_files_pattern(mandb_t, mandb_cache_t, mandb_cache_t)
files_var_filetrans(mandb_t, mandb_cache_t, { dir file lnk_file })

domain_use_interactive_fds(mandb_t)

files_read_etc_files(mandb_t)
