policy_module(mojomojo, 1.1.0)

########################################
#
# Declarations
#

apache_content_template(mojomojo)

########################################
#
# Local policy
#

allow httpd_mojomojo_script_t httpd_t:unix_stream_socket rw_stream_socket_perms;

corenet_sendrecv_smtp_client_packets(httpd_mojomojo_script_t)
corenet_tcp_connect_smtp_port(httpd_mojomojo_script_t)
corenet_sendrecv_smtp_client_packets(httpd_mojomojo_script_t)

files_search_var_lib(httpd_mojomojo_script_t)

sysnet_dns_name_resolve(httpd_mojomojo_script_t)

mta_send_mail(httpd_mojomojo_script_t)
