## <summary>openstack-nova</summary>

######################################
## <summary>
##  Manage nova lib files.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`nova_manage_lib_files',`
    gen_require(`
                type nova_var_lib_t;
                                ')

    files_search_var_lib($1)
    manage_files_pattern($1, nova_var_lib_t, nova_var_lib_t)
')

#######################################
## <summary>
##  Creates types and rules for a basic
##  openstack-nova systemd daemon domain.
## </summary>
## <param name="prefix">
##  <summary>
##  Prefix for the domain.
##  </summary>
## </param>
#
template(`nova_domain_template',`
	gen_require(`
        type nova_t;
        type nova_exec_t;
        type nova_unit_file_t;
        type nova_tmp_t;

	')

    typealias nova_t alias nova_$1_t;
    typealias nova_exec_t alias nova_$1_exec_t;
    typealias nova_unit_file_t alias nova_$1_unit_file_t;
    typealias nova_tmp_t alias nova_$1_tmp_t;

')
