policy_module(opafm, 1.0.0)

########################################
#
# Declarations
#

type opafm_t;
type opafm_exec_t;
init_daemon_domain(opafm_t, opafm_exec_t)

########################################
#
# opafm local policy
#

corenet_ib_manage_subnet_unlabeled_endports(opafm_t)

dev_rw_infiniband_mgmt_dev(opafm_t)
dev_list_sysfs(opafm_t)
