policy_module(openshift-origin,1.0.0)
gen_require(`
	attribute openshift_domain;
')

########################################
#
# openshift origin standard local policy
#
corenet_tcp_connect_all_ports(openshift_domain)
corenet_tcp_bind_all_ports(openshift_domain)
