policy_module(oracleasm, 1.0.0)

########################################
#
# Declarations
#

type oracleasm_t;
type oracleasm_exec_t;
init_daemon_domain(oracleasm_t, oracleasm_exec_t)

type oracleasm_initrc_exec_t;
init_script_file(oracleasm_initrc_exec_t)

########################################
#
# oracleasm local policy
#

allow oracleasm_t self:fifo_file rw_fifo_file_perms;
allow oracleasm_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(oracleasm_t)

corecmd_exec_shell(oracleasm_t)
corecmd_exec_bin(oracleasm_t)

optional_policy(`
    mount_domtrans(oracleasm_t)
')

optional_policy(`
    modutils_domtrans_insmod(oracleasm_t)
')
