## <summary>Puppet client daemon</summary>
## <desc>
##	<p>
##	Puppet is a configuration management system written in Ruby.
##	The client daemon is responsible for periodically requesting the
##	desired system state from the server and ensuring the state of
##	the client system matches.
##	</p>
## </desc>

####################################
## <summary>
##	Read puppet configuration content.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`puppet_read_config',`
	gen_require(`
		type puppet_etc_t;
	')

	files_search_etc($1)
	allow $1 puppet_etc_t:dir list_dir_perms;
	allow $1 puppet_etc_t:file read_file_perms;
	allow $1 puppet_etc_t:lnk_file read_lnk_file_perms;
')

################################################
## <summary>
##	Read Puppet lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`puppet_read_lib_files',`
	gen_require(`
		type puppet_var_lib_t;
	')

	read_files_pattern($1, puppet_var_lib_t, puppet_var_lib_t)
	files_search_var_lib($1)
')

###############################################
## <summary>
##	Create, read, write, and delete
##	puppet lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`puppet_manage_lib_files',`
	gen_require(`
		type puppet_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, puppet_var_lib_t, puppet_var_lib_t)
')

#####################################
## <summary>
##	Read puppet log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`puppet_read_log_files',`
	gen_require(`
		type puppet_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, puppet_log_t, puppet_log_t)
')

################################################
## <summary>
##	Read / Write to Puppet temp files.  Puppet uses
##	some system binaries (groupadd, etc) that run in
##	a non-puppet domain and redirects output into temp
##	files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`puppet_rw_tmp', `
	gen_require(`
		type puppet_tmp_t;
	')

	allow $1 puppet_tmp_t:file rw_file_perms;
	files_search_tmp($1)
')
