policy_module(realmd, 1.0.0)

########################################
#
# Declarations
#

type realmd_t;
type realmd_exec_t;
dbus_system_domain(realmd_t, realmd_exec_t)


########################################
#
# realmd local policy
#

allow realmd_t self:capability { kill };

domain_use_interactive_fds(realmd_t)

files_read_etc_files(realmd_t)

logging_send_syslog_msg(realmd_t)

miscfiles_read_localization(realmd_t)

optional_policy(`
	kerberos_use(realmd_t)
')

optional_policy(`
	samba_domtrans_net(realmd_t)
	samba_read_config(realmd_t)
')

optional_policy(`
	sssd_read_config(realmd_t)
	sssd_write_config(realmd_t)
	sssd_create_config(realmd_t)
')
