policy_module(swift, 1.0.0)

########################################
#
# Declarations
#

type swift_t;
type swift_exec_t;
init_daemon_domain(swift_t, swift_exec_t)

permissive swift_t;

type swift_var_run_t;
files_pid_file(swift_var_run_t)

type swift_unit_file_t;
systemd_unit_file(swift_unit_file_t)

########################################
#
# swift local policy
#
allow swift_t self:fifo_file rw_fifo_file_perms;
allow swift_t self:unix_stream_socket create_stream_socket_perms;
allow swift_t self:unix_dgram_socket create_socket_perms;

manage_dirs_pattern(swift_t, swift_var_run_t, swift_var_run_t)
manage_files_pattern(swift_t, swift_var_run_t, swift_var_run_t)
manage_lnk_files_pattern(swift_t, swift_var_run_t, swift_var_run_t)
files_pid_filetrans(swift_t, swift_var_run_t, { dir file lnk_file })

kernel_dgram_send(swift_t)
kernel_read_system_state(swift_t)

corecmd_exec_shell(swift_t)

dev_read_urand(swift_t)

domain_use_interactive_fds(swift_t)

files_read_etc_files(swift_t)

auth_use_nsswitch(swift_t)

libs_exec_ldconfig(swift_t)

logging_send_syslog_msg(swift_t)

miscfiles_read_localization(swift_t)
