policy_module(timedatex, 1.0.0)

########################################
#
# Declarations
#

type timedatex_t;
type timedatex_exec_t;
init_daemon_domain(timedatex_t, timedatex_exec_t)

########################################
#
# timedatex local policy
#
allow timedatex_t self:fifo_file rw_fifo_file_perms;
allow timedatex_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(timedatex_t)

files_read_etc_files(timedatex_t)

miscfiles_read_localization(timedatex_t)

optional_policy(`
    dbus_read_pid_files(timedatex_t)
    dbus_stream_connect_system_dbusd(timedatex_t)
')

