policy_module(vmtools, 1.0.0)

########################################
#
# Declarations
#

type vmtools_t;
type vmtools_exec_t;
init_daemon_domain(vmtools_t, vmtools_exec_t)

type vmtools_unit_file_t;
systemd_unit_file(vmtools_unit_file_t)

type vmtools_tmp_t;
files_tmp_file(vmtools_tmp_t)

########################################
#
# vmtools local policy
#

allow vmtools_t self:capability { sys_time sys_rawio };
allow vmtools_t self:fifo_file rw_fifo_file_perms;
allow vmtools_t self:unix_stream_socket create_stream_socket_perms;
allow vmtools_t self:unix_dgram_socket create_socket_perms;

manage_dirs_pattern(vmtools_t, vmtools_tmp_t, vmtools_tmp_t)
manage_files_pattern(vmtools_t, vmtools_tmp_t, vmtools_tmp_t)
manage_lnk_files_pattern(vmtools_t, vmtools_tmp_t, vmtools_tmp_t)
files_tmp_filetrans(vmtools_t, vmtools_tmp_t, { file dir })

kernel_read_system_state(vmtools_t)
kernel_read_network_state(vmtools_t)

corecmd_exec_bin(vmtools_t)
corecmd_exec_shell(vmtools_t)

dev_read_urand(vmtools_t)
dev_getattr_all_blk_files(vmtools_t)

fs_getattr_all_fs(vmtools_t)

auth_use_nsswitch(vmtools_t)

logging_send_syslog_msg(vmtools_t)
