
## <summary>policy for cfengine</summary>


########################################
## <summary>
##	Transition to cfengine.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cfengine_domtrans_server',`
	gen_require(`
		type cfengine_server_t, cfengine_server_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cfengine_server_exec_t, cfengine_server_t)
')

########################################
## <summary>
##	Read cfengine lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cfengine_read_lib_files',`
	gen_require(`
		type cfengine_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cfengine_var_lib_t, cfengine_var_lib_t)
')

