policy_module(couchdb, 1.0.0)

########################################
#
# Declarations
#

type couchdb_t;
type couchdb_exec_t;
init_daemon_domain(couchdb_t, couchdb_exec_t)

type couchdb_tmp_t;
files_tmp_file(couchdb_tmp_t)

type couchdb_log_t;
logging_log_file(couchdb_log_t)

type couchdb_var_lib_t;
files_type(couchdb_var_lib_t)

type couchdb_var_run_t;
files_pid_file(couchdb_var_run_t)

type couchdb_unit_file_t;
systemd_unit_file(couchdb_unit_file_t)

########################################
#
# couchdb local policy
#
allow couchdb_t self:fifo_file rw_fifo_file_perms;
allow couchdb_t self:unix_stream_socket create_stream_socket_perms;
allow couchdb_t self:tcp_socket create_stream_socket_perms;
allow couchdb_t self:udp_socket create_socket_perms;

manage_dirs_pattern(couchdb_t, couchdb_log_t, couchdb_log_t)
manage_files_pattern(couchdb_t, couchdb_log_t, couchdb_log_t)
logging_log_filetrans(couchdb_t, couchdb_log_t, { dir file })

manage_dirs_pattern(couchdb_t, couchdb_tmp_t, couchdb_tmp_t)
manage_files_pattern(couchdb_t, couchdb_tmp_t, couchdb_tmp_t)
files_tmp_filetrans(couchdb_t, couchdb_tmp_t, { dir file })

manage_dirs_pattern(couchdb_t, couchdb_var_lib_t, couchdb_var_lib_t)
manage_files_pattern(couchdb_t, couchdb_var_lib_t, couchdb_var_lib_t)
files_var_lib_filetrans(couchdb_t, couchdb_var_lib_t, { dir file })

manage_dirs_pattern(couchdb_t, couchdb_var_run_t, couchdb_var_run_t)
manage_files_pattern(couchdb_t, couchdb_var_run_t, couchdb_var_run_t)
files_pid_filetrans(couchdb_t, couchdb_var_run_t, { dir file })

can_exec(couchdb_t, couchdb_exec_t)

kernel_read_system_state(couchdb_t)

corecmd_exec_bin(couchdb_t)
corecmd_exec_shell(couchdb_t)

corenet_tcp_bind_generic_node(couchdb_t)
corenet_udp_bind_generic_node(couchdb_t)
corenet_tcp_bind_vnc_port(couchdb_t)

dev_list_sysfs(couchdb_t)
dev_read_sysfs(couchdb_t)
dev_read_urand(couchdb_t)

domain_use_interactive_fds(couchdb_t)

files_read_etc_files(couchdb_t)

fs_getattr_tmpfs(couchdb_t)

auth_use_nsswitch(couchdb_t)

libs_exec_lib_files(couchdb_t)

miscfiles_read_localization(couchdb_t)

