policy_module(jetty, 1.0.0)

########################################
#
# Declarations
#

type jetty_cache_t;
files_type(jetty_cache_t)

type jetty_log_t;
logging_log_file(jetty_log_t)

type jetty_var_lib_t;
files_type(jetty_var_lib_t)

type jetty_var_run_t;
files_pid_file(jetty_var_run_t)

########################################
#
# jetty local policy
#

# No local policy. This module just contains type definitions
