## <summary>SELinux policy for obex-data-server</summary>



########################################
## <summary>
##  Transition to obex.
## </summary>
## <param name="domain">
## <summary>
##  Domain allowed to transition.
## </summary>
## </param>
#
interface(`obex_domtrans',`
    gen_require(`
        type obex_t, obex_exec_t;
    ')

    corecmd_search_bin($1)
    domtrans_pattern($1, obex_exec_t, obex_t)
')

########################################
## <summary>
##  Send and receive messages from
##  obex over dbus.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`obex_dbus_chat',`
    gen_require(`
        type obex_t;
        class dbus send_msg;
    ')

    allow $1 obex_t:dbus send_msg;
    allow obex_t $1:dbus send_msg;
')
