policy_module(obex,1.0.0) 

########################################
#
# Declarations
#

type obex_t;
type obex_exec_t;
dbus_system_domain(obex_t, obex_exec_t)

permissive obex_t;


########################################
#
# obex local policy
#

allow obex_t self:fifo_file rw_fifo_file_perms;

dev_read_urand(obex_t)

files_read_etc_files(obex_t)

logging_send_syslog_msg(obex_t)

miscfiles_read_localization(obex_t)

