
## <summary>policy for rabbitmq</summary>

########################################
## <summary>
##	Transition to rabbitmq.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rabbitmq_domtrans',`
	gen_require(`
		type rabbitmq_t, rabbitmq_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rabbitmq_exec_t, rabbitmq_t)
')
