policy_module(vdagent,1.0.0)

########################################
#
# Declarations
#

type vdagent_t;
type vdagent_exec_t;
udev_system_domain(vdagent_t, vdagent_exec_t)

type vdagent_var_run_t;
files_pid_file(vdagent_var_run_t)

permissive vdagent_t;

########################################
#
# vdagent local policy
#
allow vdagent_t self:process { fork };

allow vdagent_t self:fifo_file rw_fifo_file_perms;
allow vdagent_t self:unix_stream_socket create_stream_socket_perms;

manage_files_pattern(vdagent_t, vdagent_var_run_t, vdagent_var_run_t)
manage_dirs_pattern(vdagent_t, vdagent_var_run_t, vdagent_var_run_t)
manage_sock_files_pattern(vdagent_t, vdagent_var_run_t, vdagent_var_run_t)
manage_lnk_files_pattern(vdagent_t, vdagent_var_run_t, vdagent_var_run_t)
files_pid_filetrans(vdagent_t, vdagent_var_run_t, { file dir sock_file })

domain_use_interactive_fds(vdagent_t)

files_read_etc_files(vdagent_t)

miscfiles_read_localization(vdagent_t)

userdom_use_user_ptys(vdagent_t)
