policy_module(execmem, 1.0.0)

########################################
#
# Declarations
#

type execmem_exec_t alias unconfined_execmem_exec_t;
application_executable_file(execmem_exec_t)

