
policy_module(mediawiki, 1.0.0)

########################################
#
# Declarations
#

apache_content_template(mediawiki)

type httpd_mediawiki_tmp_t;
files_tmp_file(httpd_mediawiki_tmp_t)

permissive httpd_mediawiki_script_t;

########################################
#
# mediawiki local policy
#

manage_dirs_pattern(httpd_mediawiki_script_t, httpd_mediawiki_tmp_t, httpd_mediawiki_tmp_t)
manage_files_pattern(httpd_mediawiki_script_t, httpd_mediawiki_tmp_t, httpd_mediawiki_tmp_t)
manage_lnk_files_pattern(httpd_mediawiki_script_t, httpd_mediawiki_tmp_t, httpd_mediawiki_tmp_t)
files_tmp_filetrans(httpd_mediawiki_script_t, httpd_mediawiki_tmp_t, { file dir lnk_file })

files_search_var_lib(httpd_mediawiki_script_t)

userdom_read_user_tmp_files(httpd_mediawiki_script_t)

miscfiles_read_tetex_data(httpd_mediawiki_script_t)

optional_policy(`
	apache_dontaudit_rw_tmp_files(httpd_mediawiki_script_t)
')

