policy_module(openoffice, 1.0.0)

########################################
#
# Declarations
#

type openoffice_t;
type openoffice_exec_t;
application_domain(openoffice_t, openoffice_exec_t)

########################################
#
# Unconfined java local policy
#

