policy_module(thumb, 1.0.0)

########################################
#
# Declarations
#

type thumb_t;
type thumb_exec_t;
application_domain(thumb_t, thumb_exec_t)
role system_r types thumb_t;

type thumb_tmp_t;
files_tmp_file(thumb_tmp_t)

########################################
#
# thumb local policy
#

allow thumb_t self:process { setsched signal setrlimit };

allow thumb_t self:fifo_file manage_fifo_file_perms;
allow thumb_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(thumb_t)

kernel_read_system_state(thumb_t)

files_read_etc_files(thumb_t)
files_read_usr_files(thumb_t)

manage_files_pattern(thumb_t, thumb_tmp_t, thumb_tmp_t)
userdom_user_tmp_filetrans(thumb_t, thumb_tmp_t, file)

miscfiles_read_fonts(thumb_t)
miscfiles_read_localization(thumb_t)

userdom_read_user_tmp_files(thumb_t)
userdom_read_user_home_content_files(thumb_t)
userdom_dontaudit_write_user_tmp_files(thumb_t)
userdom_use_inherited_user_ptys(thumb_t)

optional_policy(`
	dbus_dontaudit_session_bus_connect(thumb_t)
')

optional_policy(`
	gnome_read_gconf_home_files(thumb_t)
')

