## <summary>Tool for non-root processes to bind to reserved ports.</summary>

########################################
## <summary>
##	Execute authbind in the authbind domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`authbind_domtrans',`
	gen_require(`
		type authbind_t, authbind_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, authbind_exec_t, authbind_t)
')

########################################
## <summary>
##	Execute authbind in the authbind
##	domain, and allow the specified
##	role the authbind domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`authbind_run',`
	gen_require(`
		attribute_role authbind_roles;
	')

	authbind_domtrans($1)
	roleattribute $2 authbind_roles;
')
