## <summary>Log file analyzer for advanced statistics.</summary>

########################################
## <summary>
##	Execute the awstats program in
##	the awstats domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`awstats_domtrans',`
	gen_require(`
		type awstats_t, awstats_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, awstats_exec_t, awstats_t)
')

########################################
## <summary>
##	Read and write awstats unnamed pipes. (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`awstats_rw_pipes',`
	refpolicywarn(`$0($*) has been deprecated.')
')

########################################
## <summary>
##	Execute the awstats scripts in the awstats scripts domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`awstats_domtrans_script',`
	gen_require(`
		type awstats_script_t, awstats_script_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, awstats_script_exec_t, awstats_script_t)
')

########################################
## <summary>
##	Execute awstats cgi scripts in the caller domain. (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`awstats_cgi_exec',`
	refpolicywarn(`$0($*) has been deprecated.')
')
