## <summary>policy for bootupd</summary>

########################################
## <summary>
##	Execute bootupd_exec_t in the bootupd domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bootupd_domtrans',`
	gen_require(`
		type bootupd_t, bootupd_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bootupd_exec_t, bootupd_t)
')

######################################
## <summary>
##	Execute bootupd in the caller domain.
## </summary>
## <param name="domain">
##    <summary>
##	Domain allowed access.
##    </summary>
## </param>
#
interface(`bootupd_exec',`
	gen_require(`
		type bootupd_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, bootupd_exec_t)
')
