policy_module(bootupd, 1.0.0)

########################################
#
# Declarations
#

type bootupd_t;
type bootupd_exec_t;
init_daemon_domain(bootupd_t, bootupd_exec_t)

type bootupd_unit_file_t;
systemd_unit_file(bootupd_unit_file_t)

type bootupd_var_run_t;
files_pid_file(bootupd_var_run_t)

########################################
#
# bootupd local policy
#
allow bootupd_t self:capability { setgid setuid };
allow bootupd_t self:process { fork setfscreate setpgid };
allow bootupd_t self:fifo_file rw_fifo_file_perms;
allow bootupd_t self:unix_dgram_socket create_socket_perms;
allow bootupd_t self:unix_stream_socket create_stream_socket_perms;

manage_files_pattern(bootupd_t, bootupd_var_run_t, bootupd_var_run_t)
manage_sock_files_pattern(bootupd_t, bootupd_var_run_t, bootupd_var_run_t)
files_pid_filetrans(bootupd_t, bootupd_var_run_t, { file sock_file })

kernel_dgram_send(bootupd_t)

corecmd_exec_bin(bootupd_t)

dev_read_sysfs(bootupd_t)

domain_use_interactive_fds(bootupd_t)

files_create_boot_dirs(bootupd_t)
files_read_etc_files(bootupd_t)
files_manage_boot_files(bootupd_t)

fs_getattr_all_fs(bootupd_t)
fs_manage_dos_dirs(bootupd_t)
fs_manage_dos_files(bootupd_t)
fs_search_efivarfs_dirs(bootupd_t)

storage_getattr_fixed_disk_dev(bootupd_t)

optional_policy(`
	bootloader_domtrans(bootupd_t)
')

optional_policy(`
	miscfiles_read_certs(bootupd_t)
	miscfiles_read_localization(bootupd_t)
')

optional_policy(`
	mount_domtrans(bootupd_t)
')

optional_policy(`
	udev_domtrans(bootupd_t)
')

optional_policy(`
	userdom_use_inherited_user_ptys(bootupd_t)
')
