## <summary>policy for boothd</summary>

########################################
## <summary>
##	Execute boothd_exec_t in the boothd domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`boothd_domtrans',`
	gen_require(`
		type boothd_t, boothd_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, boothd_exec_t, boothd_t)
')

######################################
## <summary>
##	Execute boothd in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`boothd_exec',`
	gen_require(`
		type boothd_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, boothd_exec_t)
')
