## <summary>Utilities for managing CIFS mounts</summary>

#######################################
## <summary>
##	Execute cifs-helper in the cifs-helper domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cifsutils_helper_domtrans',`
	gen_require(`
		type cifs_helper_t, cifs_helper_exec_t;
	')

	domtrans_pattern($1, cifs_helper_exec_t, cifs_helper_t)
')
