policy_module(cifsutils, 1.0)

type cifs_helper_exec_t;
files_type(cifs_helper_exec_t)

type cifs_helper_t;
domain_type(cifs_helper_t)
application_domain(cifs_helper_t, cifs_helper_exec_t)
role system_r types cifs_helper_t;

allow cifs_helper_t self:capability { setgid setuid sys_chroot };
allow cifs_helper_t self:process setcap;

fs_read_nsfs_files(cifs_helper_t)

optional_policy(`
	auth_read_passwd(cifs_helper_t)
')

optional_policy(`
	init_search_pid_dirs(cifs_helper_t)
	logging_send_syslog_msg(cifs_helper_t)
')

optional_policy(`
	kerberos_read_config(cifs_helper_t)
')

optional_policy(`
	miscfiles_read_generic_certs(cifs_helper_t)
')

optional_policy(`
	userdom_read_all_users_state(cifs_helper_t)
')
