## <summary>policy for coreos_installer</summary>

########################################
## <summary>
##	Execute coreos_installer_exec_t in the coreos_installer domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`coreos_installer_domtrans',`
	gen_require(`
		type coreos_installer_t, coreos_installer_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, coreos_installer_exec_t, coreos_installer_t)
')

######################################
## <summary>
##	Execute coreos_installer in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coreos_installer_exec',`
	gen_require(`
		type coreos_installer_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, coreos_installer_exec_t)
')
