## <summary>cpuplugd - Linux on System z CPU and memory hotplug daemon</summary>

########################################
## <summary>
##	Execute cpuplug in the cpuplug domin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cpuplug_domtrans',`
	gen_require(`
		type cpuplug_t, cpuplug_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cpuplug_exec_t, cpuplug_t)
')
