## <summary>Distributed compiler daemon.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an distcc environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`distcc_admin',`
	gen_require(`
		type distccd_t, distccd_t, distccd_log_t, distccd_var_run_t;
		type disccd_var_run_t, distccd_tmp_t, distccd_initrc_exec_t;
	')

	allow $1 distccd_t:process { ptrace signal_perms };
	ps_process_pattern($1, distccd_t)

	init_labeled_script_domtrans($1, distccd_initrc_exec_t)
	domain_system_change_exemption($1)
	role_transition $2 distccd_initrc_exec_t system_r;
	allow $2 system_r;

	logging_search_logs($1)
	admin_pattern($1, distccd_log_t)

	files_search_tmp($1)
	admin_pattern($1, distccd_tmp_t)

	files_search_pids($1)
	admin_pattern($1, distccd_var_run_t)
')
