
## <summary>policy for fdo</summary>

########################################
## <summary>
##	Execute fdo_exec_t in the fdo domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fdo_domtrans',`
	gen_require(`
		type fdo_t, fdo_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fdo_exec_t, fdo_t)
')

######################################
## <summary>
##	Execute fdo in the caller domain.
## </summary>
## <param name="domain">
##    <summary>
##	Domain allowed access.
##    </summary>
## </param>
#
interface(`fdo_exec',`
	gen_require(`
		type fdo_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, fdo_exec_t)
')
