## <summary>Policy for fedora-third-party</summary>

########################################
## <summary>
##	Execute fedoratp programs in the fedoratp domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`fedoratp_domtrans',`
	gen_require(`
		type fedoratp_t, fedoratp_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fedoratp_exec_t, fedoratp_t)
')
