policy_module(freqset, 1.0.0)

########################################
#
# Declarations
#

attribute_role freqset_roles;
roleattribute system_r freqset_roles;

type freqset_t;
type freqset_exec_t;
application_domain(freqset_t, freqset_exec_t)

role freqset_roles types freqset_t;

########################################
#
# freqset local policy
#
allow freqset_t self:capability { setuid };

allow freqset_t self:fifo_file manage_fifo_file_perms;
allow freqset_t self:unix_stream_socket create_stream_socket_perms;

dev_rw_sysfs(freqset_t)

domain_use_interactive_fds(freqset_t)

files_read_etc_files(freqset_t)

miscfiles_read_localization(freqset_t)

userdom_use_inherited_user_terminals(freqset_t)
