## <summary>policy for go_fdo_server</summary>

########################################
## <summary>
##	Execute go_fdo_server_exec_t in the go_fdo_server domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`go_fdo_server_domtrans',`
	gen_require(`
		type go_fdo_server_t, go_fdo_server_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, go_fdo_server_exec_t, go_fdo_server_t)
')

######################################
## <summary>
##	Execute go_fdo_server in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`go_fdo_server_exec',`
	gen_require(`
		type go_fdo_server_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, go_fdo_server_exec_t)
')