policy_module(iiosensorproxy, 1.1.0)

########################################
#
# Declarations
#

type iiosensorproxy_t;
type iiosensorproxy_exec_t;
init_daemon_domain(iiosensorproxy_t, iiosensorproxy_exec_t)

allow iiosensorproxy_t self:capability2 bpf;
allow iiosensorproxy_t self:netlink_kobject_uevent_socket create_socket_perms;
allow iiosensorproxy_t self:unix_dgram_socket create_socket_perms;

dev_read_iio_dev(iiosensorproxy_t)
dev_read_input(iiosensorproxy_t)
dev_create_sysfs_files(iiosensorproxy_t)
dev_rw_sysfs(iiosensorproxy_t)

optional_policy(`
	dbus_connect_system_bus(iiosensorproxy_t)
	dbus_system_bus_client(iiosensorproxy_t)

	optional_policy(`
		policykit_dbus_chat(iiosensorproxy_t)
	')

	optional_policy(`
		unconfined_dbus_chat(unconfined_t)
	')

	optional_policy(`
		xserver_dbus_chat_xdm(iiosensorproxy_t)
	')
')

optional_policy(`
	logging_stream_connect_syslog(iiosensorproxy_t)
')

optional_policy(`
	udev_read_pid_files(iiosensorproxy_t)
')
