## <summary>policy for insights_core</summary>

########################################
## <summary>
##	Allow explicit transition to insights_core_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`insights_core_domtrans',`
	gen_require(`
		type insights_core_t;
	')

	allow $1 insights_core_t: process transition;
	allow insights_core_t $1:fd use;
	allow insights_core_t $1:fifo_file rw_file_perms;
	allow insights_core_t $1:process sigchld;
	allow insights_core_t $1:dir search_dir_perms;
')

########################################
## <summary>
##	Write to an insights_core unnamed pipe.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`insights_core_write_pipes',`
	gen_require(`
		type insights_core_t;
	')

	allow $1 insights_core_t:fifo_file write_fifo_file_perms;
')

########################################
## <summary>
##	Read insights_client lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`insights_core_read_lib_files',`
	gen_require(`
		type insights_core_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, insights_core_var_lib_t, insights_core_var_lib_t)
	allow $1 insights_core_var_lib_t:file map;
')
