policy_module(kde,1.0.0)

########################################
#
# Declarations
#

type kdebacklighthelper_t;
type kdebacklighthelper_exec_t;
init_daemon_domain(kdebacklighthelper_t, kdebacklighthelper_exec_t)

########################################
#
# backlighthelper local policy
#

allow kdebacklighthelper_t self:fifo_file rw_fifo_file_perms;

kernel_read_system_state(kdebacklighthelper_t)

# r/w brightness values
dev_rw_sysfs(kdebacklighthelper_t)

files_read_etc_runtime_files(kdebacklighthelper_t)

fs_getattr_all_fs(kdebacklighthelper_t)

logging_send_syslog_msg(kdebacklighthelper_t)

optional_policy(`
	dbus_system_domain(kdebacklighthelper_t, kdebacklighthelper_exec_t)
')

optional_policy(`
	consolekit_dbus_chat(kdebacklighthelper_t)
')

optional_policy(`
	policykit_dbus_chat(kdebacklighthelper_t)
')

