
## <summary>policy for system-setup-keyboard daemon</summary>

########################################
## <summary>
##	Execute a domain transition to run keyboard setup daemon.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed access.
## </summary>
## </param>
#
interface(`keyboardd_domtrans',`
	gen_require(`
		type keyboardd_t, keyboardd_exec_t;
	')

	domtrans_pattern($1, keyboardd_exec_t, keyboardd_t)
')

######################################
## <summary>
##  Allow attempts to read  to
##  keyboardd unnamed pipes.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
#
interface(`keyboardd_read_pipes',`
    gen_require(`
            type keyboardd_t;
	')

    allow $1 keyboardd_t:fifo_file read_fifo_file_perms;
')
