policy_module(keyutils, 1.0)

type keyutils_request_exec_t;
files_type(keyutils_request_exec_t)

type keyutils_request_t;
domain_type(keyutils_request_t)
domain_entry_file(keyutils_request_t, keyutils_request_exec_t)
role system_r types keyutils_request_t;

allow keyutils_request_t self:unix_dgram_socket create_socket_perms;

domain_read_view_all_domains_keyrings(keyutils_request_t)
