## <summary>Linux Key Management Utilities</summary>

#######################################
## <summary>
##	Execute request-key in the keyutils request domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`keyutils_request_domtrans',`
	gen_require(`
		type keyutils_request_t, keyutils_request_exec_t;
	')

	domtrans_pattern($1, keyutils_request_exec_t, keyutils_request_t)
')

########################################
## <summary>
##	Allows to perform key instantiation callout
##	by transitioning to the specified domain.
## </summary>
## <param name="domain">
##	<summary>
##	The process type entered by request-key.
##	</summary>
## </param>
## <param name="entrypoint">
##	<summary>
##	The executable type for the entrypoint.
##	</summary>
## </param>
#
interface(`keyutils_request_domtrans_to',`
	gen_require(`
		type keyutils_request_t;
	')

	domtrans_pattern(keyutils_request_t, $2, $1)
')
