policy_module(keyutils, 1.0)

type keyutils_request_exec_t;
files_type(keyutils_request_exec_t)

type keyutils_request_t;
domain_type(keyutils_request_t)
domain_entry_file(keyutils_request_t, keyutils_request_exec_t)

kernel_view_key(keyutils_request_t)
kernel_read_key(keyutils_request_t)
