## <summary>Terminal emulator for Linux graphical console</summary>

########################################
## <summary>
##     Execute kmscon in the kmscon domain.
## </summary>
## <param name="domain">
##     <summary>
##     Domain allowed to transition.
##     </summary>
## </param>
#
interface(`kmscon_systemctl',`
       gen_require(`
               type kmscon_unit_file_t;
               type kmscon_t;
       ')

       systemd_exec_systemctl($1)
	init_reload_services($1)
       allow $1 kmscon_unit_file_t:file read_file_perms;
       allow $1 kmscon_unit_file_t:service manage_service_perms;

       ps_process_pattern($1, kmscon_t)
')
