
## <summary>policy for knot</summary>

########################################
## <summary>
##	Execute knot_exec_t in the knot domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`knot_domtrans',`
	gen_require(`
		type knot_t, knot_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, knot_exec_t, knot_t)
')

######################################
## <summary>
##	Execute knot in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`knot_exec',`
	gen_require(`
		type knot_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, knot_exec_t)
')
