policy_module(ktls, 1.0)

########################################
#
# Declarations
#

type ktlshd_t;
type ktlshd_exec_t;
init_daemon_domain(ktlshd_t, ktlshd_exec_t)

permissive ktlshd_t;

