policy_module(ktls, 1.0)

########################################
#
# Declarations
#

type ktlshd_t;
type ktlshd_exec_t;
init_daemon_domain(ktlshd_t, ktlshd_exec_t)

permissive ktlshd_t;

allow ktlshd_t self:key write;
allow ktlshd_t self:netlink_generic_socket create_socket_perms;
allow ktlshd_t self:netlink_route_socket r_netlink_socket_perms;
allow ktlshd_t self:udp_socket create_socket_perms;
allow ktlshd_t self:unix_dgram_socket create_socket_perms;

kernel_read_net_sysctls(ktlshd_t)
kernel_read_proc_files(ktlshd_t)

domain_read_view_all_domains_keyrings(ktlshd_t)

optional_policy(`
	init_write_key(ktlshd_t)
')

optional_policy(`
	logging_send_syslog_msg(ktlshd_t)
')

optional_policy(`
	miscfiles_read_generic_certs(ktlshd_t)
')

optional_policy(`
	sysnet_read_config(ktlshd_t)
')
