policy_module(low_memory_monitor, 1.0)

########################################
#
# Declarations
#

type lowmem_t;
type lowmem_exec_t;
init_daemon_domain(lowmem_t, lowmem_exec_t)
init_nnp_daemon_domain(lowmem_t)
permissive lowmem_t;

########################################
#
# Local policy
#

allow lowmem_t self:capability ipc_lock;

kernel_read_proc_files(lowmem_t)
kernel_rw_psi(lowmem_t)

optional_policy(`
	dbus_acquire_svc_system_dbusd(lowmem_t)
	dbus_system_bus_client(lowmem_t)
')
