policy_module(man2html, 1.0.0)

########################################
#
# Declarations
#


########################################
#
# man2html_script local policy
#

optional_policy(`
	apache_content_template(man2html)
	apache_content_alias_template(man2html, man2html)

	allow man2html_script_t self:process fork;

	typealias man2html_rw_content_t alias man2html_script_cache_t;
	files_var_filetrans(man2html_script_t, man2html_rw_content_t, { dir file })
')
