policy_module(mediawiki, 1.0.0)

########################################
#
# Declarations
#

type mediawiki_tmp_t;
files_tmp_file(mediawiki_tmp_t)

########################################
#
# Local policy
#

optional_policy(`

	apache_content_template(mediawiki)
	apache_content_alias_template(mediawiki, mediawiki)

	manage_dirs_pattern(mediawiki_script_t, mediawiki_tmp_t, mediawiki_tmp_t)
	manage_files_pattern(mediawiki_script_t, mediawiki_tmp_t, mediawiki_tmp_t)
	manage_sock_files_pattern(mediawiki_script_t, mediawiki_tmp_t, mediawiki_tmp_t)
	manage_lnk_files_pattern(mediawiki_script_t, mediawiki_tmp_t, mediawiki_tmp_t)
	files_tmp_filetrans(mediawiki_script_t, mediawiki_tmp_t, { file dir lnk_file })

	files_search_var_lib(mediawiki_script_t)

	miscfiles_read_tetex_data(mediawiki_script_t)
')
