## <summary>MojoMojo Wiki.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an mojomojo environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`mojomojo_admin',`
	refpolicywarn(`$0($*) has been deprecated, use apache_admin() instead.')
	apache_admin($1, $2)
')
