
## <summary>policy for mptcpd</summary>

########################################
## <summary>
##	Execute mptcpd_exec_t in the mptcpd domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mptcpd_domtrans',`
	gen_require(`
		type mptcpd_t, mptcpd_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mptcpd_exec_t, mptcpd_t)
')

######################################
## <summary>
##	Execute mptcpd in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mptcpd_exec',`
	gen_require(`
		type mptcpd_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, mptcpd_exec_t)
')
