## <summary>Authoritative only name server</summary>

########################################
## <summary>
##	Read NSD pid file.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_read_pid',`
	gen_require(`
		type nsd_var_run_t;
	')

	files_search_pids($1)
	read_files_pattern($1, nsd_var_run_t, nsd_var_run_t)
')

########################################
## <summary>
##	Send and receive datagrams from NSD.  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_udp_chat',`
	refpolicywarn(`$0($*) has been deprecated.')
')

########################################
## <summary>
##	Connect to NSD over a TCP socket  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_tcp_connect',`
	refpolicywarn(`$0($*) has been deprecated.')
')
