## <summary>passt: usermode networking daemons for vms</summary>

ifndef(`passt_stub',`
	interface(`passt_stub',`
		gen_require(`
			type passt_t;
		')
	')
')

ifndef(`passt_domtrans',`
	interface(`passt_domtrans',`
		gen_require(`
			type passt_t, passt_exec_t;
		')

		corecmd_search_bin($1)
		domtrans_pattern($1, passt_exec_t, passt_t)
	')
')

ifndef(`passt_entrypoint',`
	interface(`passt_entrypoint',`
        	gen_require(`
                	type passt_exec_t;
        	')

        	allow $1 passt_exec_t:file entrypoint;
	')
')

ifndef(`passt_stream_connect',`
	interface(`passt_stream_connect',`
        	gen_require(`
                	type passt_t;
        	')

		allow $1 passt_t:unix_stream_socket connectto;
	')
')
