policy_module(pcm, 1.0)
#policy_module(pcmsensor, 1.0)

########################################
#
# Declarations
#

type pcmsensor_t;
type pcmsensor_exec_t;
init_daemon_domain(pcmsensor_t, pcmsensor_exec_t)

permissive pcmsensor_t;

allow pcmsensor_t self:capability { sys_rawio sys_resource };
allow pcmsensor_t self:process { ptrace setrlimit };

kernel_read_proc_files(pcmsensor_t)
kernel_read_debugfs(pcmsensor_t)

dev_rw_cpu_microcode(pcmsensor_t)
# /sys/module/msr/parameters/allow_writes
dev_rw_sysfs(pcmsensor_t)
