policy_module(powerprofiles, 1.0)

########################################
#
# Declarations
#

type powerprofiles_t;
type powerprofiles_exec_t;
init_daemon_domain(powerprofiles_t, powerprofiles_exec_t)
init_nnp_daemon_domain(powerprofiles_t)

type powerprofiles_var_lib_t;
files_type(powerprofiles_var_lib_t);

permissive powerprofiles_t;

allow powerprofiles_t self:capability2 bpf;
allow powerprofiles_t self:netlink_kobject_uevent_socket create_socket_perms;

manage_files_pattern(powerprofiles_t, powerprofiles_var_lib_t, powerprofiles_var_lib_t)

kernel_read_proc_files(powerprofiles_t)

dev_rw_sysfs(powerprofiles_t)
dev_watch_sysfs_dirs(powerprofiles_t)

fs_getattr_xattr_fs(powerprofiles_t)

optional_policy(`
	dbus_connect_system_bus(powerprofiles_t)
	dbus_system_bus_client(powerprofiles_t)

	optional_policy(`
		policykit_dbus_chat(powerprofiles_t)
	')

	optional_policy(`
		xserver_dbus_chat_xdm(powerprofiles_t)
	')
')

optional_policy(`
	udev_read_pid_files(powerprofiles_t)
')
