## <summary>Power profiles handling over D-Bus</summary>

########################################
## <summary>
##	Allow the domain to read powerprofiles state files in /proc.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`powerprofiles_read_state',`
	gen_require(`
		type powerprofiles_t;
	')

	ps_process_pattern($1, powerprofiles_t)
')
