
## <summary>policy for qatlib</summary>

########################################
## <summary>
##	Execute qatlib_exec_t in the qatlib domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`qatlib_domtrans',`
	gen_require(`
		type qatlib_t, qatlib_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, qatlib_exec_t, qatlib_t)
')

######################################
## <summary>
##	Execute qatlib in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qatlib_exec',`
	gen_require(`
		type qatlib_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, qatlib_exec_t)
')
