## <summary>policy for qgs</summary>

########################################
## <summary>
##      Execute qgs_exec_t in the qgs domain.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#
interface(`qgs_domtrans',`
	gen_require(`
                type qgs_t, qgs_exec_t;
	')

	corecmd_search_bin($1)
        domtrans_pattern($1, qgs_exec_t, qgs_t)
')

######################################
## <summary>
##      Execute qgs in the caller domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`qgs_exec',`
	gen_require(`
		type qgs_exec_t;
	')

        corecmd_search_bin($1)
	can_exec($1, qgs_exec_t)
')

########################################
## <summary>
##      All of the rules required to administrate
##      an qgs environment
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
## <rolecap/>
#
interface(`qgs_admin',`
        gen_require(`
                type qgs_t;
                type qgs_var_lib_t;
                type qgs_var_run_t;
        ')

        allow $1 qgs_t:process { signal_perms };
        ps_process_pattern($1, qgs_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 qgs_t:process ptrace;
    ')

        files_search_var_lib($1)
        admin_pattern($1, qgs_var_lib_t)
        admin_pattern($1, qgs_var_run_t)
        optional_policy(`
                systemd_passwd_agent_exec($1)
                systemd_read_fifo_file_passwd_run($1)
        ')
')

## <summary>
##      Connect to qgs over an unix
##      domain stream socket.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`qgs_stream_connect',`
	gen_require(`
                type qgs_t, qgs_var_run_t;
        ')

	stream_connect_pattern($1, qgs_var_run_t, qgs_var_run_t, qgs_t)
')
