policy_module(redfish-finder, 1.0)

########################################
#
# Declarations
#

type redfish_finder_t;
type redfish_finder_exec_t;
init_daemon_domain(redfish_finder_t, redfish_finder_exec_t)

########################################
#
# redfish-finder local policy
#

permissive redfish_finder_t;

corecmd_exec_bin(redfish_finder_t)
dev_read_sysfs(redfish_finder_t)

optional_policy(`
	auth_read_passwd_file(redfish_finder_t)
')

optional_policy(`
	dmidecode_domtrans(redfish_finder_t)
')
