policy_module(redfish-finder, 1.0)

########################################
#
# Declarations
#

type redfish_finder_t;
type redfish_finder_exec_t;
init_daemon_domain(redfish_finder_t, redfish_finder_exec_t)

########################################
#
# redfish-finder local policy
#

permissive redfish_finder_t;

corecmd_exec_bin(redfish_finder_t)
dev_read_sysfs(redfish_finder_t)

optional_policy(`
	auth_read_passwd_file(redfish_finder_t)
')

optional_policy(`
	dbus_chat_session_bus(redfish_finder_t)
	dbus_send_system_bus(redfish_finder_t)
	dbus_stream_connect_system_dbusd(redfish_finder_t)
	dbus_write_pid_sock_files(redfish_finder_t)
')

optional_policy(`
	dmidecode_domtrans(redfish_finder_t)
')

optional_policy(`
	networkmanager_dbus_chat(redfish_finder_t)
')

optional_policy(`
	sysnet_read_config(redfish_finder_t)
	sysnet_write_config(redfish_finder_t)
')
