## <summary>Redfish - host api discovery service</summary>

########################################
## <summary>
##	Execute a domain transition to run redfish-finder.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`redfish_finder_domtrans',`
	gen_require(`
		type redfish_finder_t, redfish_finder_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, redfish_finder_exec_t, redfish_finder_t)
')

#######################################
## <summary>
##	Execute redfish-finder in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redfish_finder_exec',`
	gen_require(`
		type redfish_finder_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, redfish_finder_exec_t)
')
