policy_module(rhcd, 1.0.0)

########################################
#
# Declarations
#

type rhcd_t;
type rhcd_exec_t;
init_daemon_domain(rhcd_t, rhcd_exec_t)

type rhcd_unit_file_t;
systemd_unit_file(rhcd_unit_file_t)

type rhcd_var_run_t;
files_pid_file(rhcd_var_run_t)

permissive rhcd_t;

########################################
#
# rhcd local policy
#
allow rhcd_t self:fifo_file rw_fifo_file_perms;
allow rhcd_t self:netlink_route_socket create_netlink_socket_perms;
allow rhcd_t self:tcp_socket create_stream_socket_perms;
allow rhcd_t self:udp_socket create_socket_perms;
allow rhcd_t self:unix_stream_socket { connectto create_stream_socket_perms };

manage_dirs_pattern(rhcd_t, rhcd_var_run_t, rhcd_var_run_t)
manage_files_pattern(rhcd_t, rhcd_var_run_t, rhcd_var_run_t)
files_pid_filetrans(rhcd_t, rhcd_var_run_t, { dir })

kernel_read_net_sysctls(rhcd_t)
kernel_read_proc_files(rhcd_t)

corecmd_exec_bin(rhcd_t)
corecmd_watch_bin_dirs(rhcd_t)

corenet_tcp_connect_http_port(rhcd_t)

dev_read_sysfs(rhcd_t)

domain_use_interactive_fds(rhcd_t)

files_read_etc_files(rhcd_t)

miscfiles_read_generic_certs(rhcd_t)
miscfiles_read_localization(rhcd_t)

sysnet_read_config(rhcd_t)

optional_policy(`
	insights_search_config(rhcd_t)
')

optional_policy(`
	udev_read_pid_files(rhcd_t)
')
