## <summary>policy for rhcd</summary>

########################################
## <summary>
##      Execute rhcd_exec_t in the rhcd domain.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#
interface(`rhcd_domtrans',`
        gen_require(`
                type rhcd_t, rhcd_exec_t;
        ')

        corecmd_search_bin($1)
        domtrans_pattern($1, rhcd_exec_t, rhcd_t)
')

######################################
## <summary>
##      Execute rhcd in the caller domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_exec',`
        gen_require(`
                type rhcd_exec_t;
        ')

        corecmd_search_bin($1)
        can_exec($1, rhcd_exec_t)
')

######################################
## <summary>
##      Read rhcd fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_read_fifo_files',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:fifo_file read_fifo_file_perms;
')

######################################
## <summary>
##      Write/append rhcd fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_write_fifo_files',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:fifo_file write_fifo_file_perms;
')

######################################
## <summary>
##      Send a message to rhcd over a datagram socket.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_dgram_send',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:unix_dgram_socket sendto;
')
