## <summary>policy for rhcd</summary>

########################################
## <summary>
##      Execute rhcd_exec_t in the rhcd domain.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#
interface(`rhcd_domtrans',`
        gen_require(`
                type rhcd_t, rhcd_exec_t;
        ')

        corecmd_search_bin($1)
        domtrans_pattern($1, rhcd_exec_t, rhcd_t)
')

######################################
## <summary>
##      Execute rhcd in the caller domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_exec',`
        gen_require(`
                type rhcd_exec_t;
        ')

        corecmd_search_bin($1)
        can_exec($1, rhcd_exec_t)
')

######################################
## <summary>
##      Read rhcd fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_read_fifo_files',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:fifo_file read_fifo_file_perms;
')

######################################
## <summary>
##      Write/append rhcd fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_write_fifo_files',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:fifo_file write_fifo_file_perms;
')

######################################
## <summary>
##      Read and write rhcd fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_rw_fifo_files',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:fifo_file rw_fifo_file_perms;
')

######################################
## <summary>
##      Send a message to rhcd over a datagram socket.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhcd_dgram_send',`
        gen_require(`
                type rhcd_t;
        ')

	allow $1 rhcd_t:unix_dgram_socket sendto;
')

######################################
## <summary>
##      Read rhc_worker_playbook fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_worker_playbook_read_fifo_files',`
        gen_require(`
                type rhc_worker_playbook_t;
        ')

	allow $1 rhc_worker_playbook_t:fifo_file read_fifo_file_perms;
')

######################################
## <summary>
##      Ioctl rhc_worker_playbook fifo files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_worker_playbook_ioctl_fifo_files',`
        gen_require(`
                type rhc_worker_playbook_t;
        ')

	allow $1 rhc_worker_playbook_t:fifo_file ioctl;
')

######################################
## <summary>
##      Manage rhc_playbook_verifier /var/lib files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_playbook_verifier_manage_var_lib_files',`
        gen_require(`
                type rhc_playbook_verifier_t, rhc_playbook_verifier_var_lib_t;
        ')

	files_search_var_lib($1)
	manage_files_pattern($1, rhc_playbook_verifier_var_lib_t, rhc_playbook_verifier_var_lib_t)
')

######################################
## <summary>
##      Manage rhc_playbook_verifier /var/lib sock files
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_playbook_verifier_manage_var_lib_sock_files',`
        gen_require(`
                type rhc_playbook_verifier_t, rhc_playbook_verifier_var_lib_t;
        ')

	files_search_var_lib($1)
	manage_sock_files_pattern($1, rhc_playbook_verifier_var_lib_t, rhc_playbook_verifier_var_lib_t)
')

######################################
## <summary>
##      Manage rhc_playbook_verifier /var/lib dirs
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_playbook_verifier_manage_var_lib_dirs',`
        gen_require(`
                type rhc_playbook_verifier_t, rhc_playbook_verifier_var_lib_t;
        ')

	files_search_var_lib($1)
	manage_dirs_pattern($1, rhc_playbook_verifier_var_lib_t, rhc_playbook_verifier_var_lib_t)
')

######################################
## <summary>
##      Watch rhc_playbook_verifier /var/lib dirs
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`rhc_playbook_verifier_watch_var_lib_dirs',`
        gen_require(`
                type rhc_playbook_verifier_t, rhc_playbook_verifier_var_lib_t;
        ')

	files_search_var_lib($1)
	watch_dirs_pattern($1, rhc_playbook_verifier_var_lib_t, rhc_playbook_verifier_var_lib_t)
')
