## <summary> policy for rkhunter </summary>

########################################
## <summary>
##	Append rkhunter lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rkhunter_append_lib_files',`
	gen_require(`
		type rkhunter_var_lib_t;
	')

	files_search_var_lib($1)
	append_files_pattern($1, rkhunter_var_lib_t, rkhunter_var_lib_t)
')

########################################
## <summary>
##	Manage rkhunter lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rkhunter_manage_lib_files',`
	gen_require(`
		type rkhunter_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, rkhunter_var_lib_t, rkhunter_var_lib_t)
')
