## <summary>policy for rshim</summary>

########################################
## <summary>
##	Execute rshim_exec_t in the rshim domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rshim_domtrans',`
	gen_require(`
		type rshim_t, rshim_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rshim_exec_t, rshim_t)
')

######################################
## <summary>
##	Execute rshim in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rshim_exec',`
	gen_require(`
		type rshim_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, rshim_exec_t)
')
