policy_module(sap, 1.0)

type sap_unconfined_t;
type sap_exec_t;
files_type(sap_exec_t);
init_daemon_domain(sap_unconfined_t, sap_exec_t)

#type sap_tmp_t;
#files_tmp_file(sap_tmp_t);
#manage_dirs_pattern(sap_unconfined_t, sap_tmp_t, sap_tmp_t)
#manage_files_pattern(sap_unconfined_t, sap_tmp_t, sap_tmp_t)
#files_tmp_filetrans(sap_unconfined_t, sap_tmp_t, { dir file })

optional_policy(`
	unconfined_domain(sap_unconfined_t)
')
