## <summary>SAP policy</summary>

######################################
## <summary>
##	Execute sap in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sap_exec',`
	gen_require(`
		type sap_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, sap_exec_t)
')

########################################
## <summary>
##	Execute sap in sap unconfined domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sap_unconfined_domtrans',`
       gen_require(`
               type sap_unconfined_t, sap_exec_t;
       ')

       corecmd_search_bin($1)
       domtrans_pattern($1, sap_exec_t, sap_unconfined_t)
')
