## <summary>Policy for gridengine MPI jobs</summary>

######################################
## <summary>
##  Creates types and rules for a basic
##  sge domain.
## </summary>
## <param name="prefix">
##  <summary>
##  Prefix for the domain.
##  </summary>
## </param>
#
template(`sge_basic_types_template',`
    gen_require(`
        attribute sge_domain;
    ')

    type $1_t, sge_domain;
    type $1_exec_t;

	kernel_read_system_state($1_t)
')

########################################
## <summary>
##	read/write sge_shepherd per tcp_socket
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sge_rw_tcp_sockets',`
	gen_require(`
		type sge_shepherd_t;
		type sge_job_ssh_t;
	')

	allow $1 sge_shepherd_t:tcp_socket rw_socket_perms;
	allow $1 sge_job_ssh_t:tcp_socket rw_socket_perms;
')
