policy_module(swift_alias, 1.0.0)

#
# swift_alias.pp policy replaces swift.pp policy
# which is a part of openstack-selinux.rpm package
#

########################################
#
# Declarations
#

#call stub interfaces for basic types
init_stub_initrc()
corecmd_stub_bin()
files_stub_var_run()
files_stub_var()
systemd_stub_unit_file()

typealias initrc_t alias swift_t;
typealias bin_t alias swift_exec_t;
typealias var_run_t alias swift_var_run_t;
typealias systemd_unit_file_t alias swift_unit_file_t;
typealias var_t alias swift_data_t;


