policy_module(switcheroo, 1.0)

#################################
#   
# Declarations
#    

type switcheroo_control_t;
type switcheroo_control_exec_t;
init_daemon_domain(switcheroo_control_t, switcheroo_control_exec_t)
permissive switcheroo_control_t;

#type samba_bgqd_var_run_t;
#files_pid_file(samba_bgqd_var_run_t)
