## <summary>switcheroo: D-Bus service to check dual GPU availability</summary>

########################################
## <summary>
##	Send and receive messages from switcheroo-control over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`switcheroo_dbus_chat',`
	gen_require(`
		type switcheroo_control_t;
		class dbus send_msg;
	')

	allow $1 switcheroo_control_t:dbus send_msg;
	allow switcheroo_control_t $1:dbus send_msg;
')
