
## <summary>policy for synce4l</summary>

########################################
## <summary>
##	Execute synce4l_exec_t in the synce4l domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`synce4l_domtrans',`
	gen_require(`
		type synce4l_t, synce4l_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, synce4l_exec_t, synce4l_t)
')

######################################
## <summary>
##	Execute synce4l in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`synce4l_exec',`
	gen_require(`
		type synce4l_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, synce4l_exec_t)
')
