## <summary></summary>

########################################
## <summary>
##      Create a tabrmd unix stream socket
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
ifndef(`tabrmd_create_unix_stream_sockets',`
	interface(`tabrmd_create_unix_stream_sockets',`
	        gen_require(`
	                type tabrmd_t;
	        ')

	        allow $1 tabrmd_t:unix_stream_socket create_stream_socket_perms;
	')
')

########################################
## <summary>
##      Read and write to
##      tabrmd unix stream sockets
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
ifndef(`tabrmd_rw_unix_stream_sockets',`
	interface(`tabrmd_rw_unix_stream_sockets',`
	        gen_require(`
	                type tabrmd_t;
	        ')

	        allow $1 tabrmd_t:unix_stream_socket rw_socket_perms;
	')
')

########################################
## <summary>
##      Send messages to and from
##      tabrmd over DBUS.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
ifndef(`tabrmd_dbus_chat',`
	interface(`tabrmd_dbus_chat',`
	        gen_require(`
	                type tabrmd_t;
	                class dbus send_msg;
	        ')

	        allow $1 tabrmd_t:dbus send_msg;
	        allow tabrmd_t $1:dbus send_msg;
	')
')
