## <summary>policy for tigervnc</summary>

###########################################
## <summary>
##	Manage vnc home files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
ifndef(`vnc_manage_vnc_home_files',`
	interface(`vnc_manage_vnc_home_files',`
		gen_require(`
			type vnc_home_t;
		')
	
		manage_files_pattern($1, vnc_home_t, vnc_home_t)
	')
')
