## <summary>Policy for virtualization</summary>
#####################################
## <summary>
##	Transition to virt_bridgehelper.
## </summary>
## <param name="domain">
##	<summary>
## 	Domain allowed to transition.
##	</summary>
## </param>
interface(`virt_domtrans_bridgehelper',`
	gen_require(`
		type virt_bridgehelper_t, virt_bridgehelper_exec_t;
	')

	domtrans_pattern($1, virt_bridgehelper_exec_t, virt_bridgehelper_t)
')

########################################
## <summary>
##      Execute a qemu_exec_t in the callers domain
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed access.
## </summary>
## </param>
#
interface(`virt_exec_qemu',`
        gen_require(`
                type qemu_exec_t;
        ')

        can_exec($1, qemu_exec_t)
')

########################################
## <summary>
##      Role access for virt_bridgehelper
## </summary>
## <param name="role">
##      <summary>
##      Role allowed access
##      </summary>
## </param>
#
interface(`virt_bridgehelper_role',`
        gen_require(`
                type virt_bridgehelper_t;
        ')

        role $1 types virt_bridgehelper_t;
')
