## <summary>The waydroid domain.</summary>

########################################
## <summary>
##    Dontaudit read the process state (/proc/pid) of waydroid
## </summary>
## <param name="domain">
##    <summary>
##    Domain allowed access.
##    </summary>
## </param>
# 
interface(`waydroid_dontaudit_read_state',`
    gen_require(`
        type waydroid_t;
    ')
    dontaudit $1 waydroid_t:file read;
    dontaudit $1 waydroid_t:lnk_file read;
')