<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

    <vendor>Red Hat Inc.</vendor>
    <vendor_url>http://www.redhat.com</vendor_url>

    <action id="org.fedoraproject.setroubleshootfixit.write">
        <description>SELinux write access</description>
        <message>System policy prevents write access to SETroubleshoot</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
    </action>


</policyconfig>
