[Desktop Entry]
Name=SELinux Troubleshooter
Exec=/usr/bin/seapplet
Comment=View & interpret SELinux denials
Encoding=UTF-8
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
Icon=setroubleshoot_icon
