[Desktop Entry]
Name=SELinux Troubleshooter
Name[as]=SELinux Troubleshooter
Name[bg]=SELinux коректор
Name[bn_IN]=SELinux Troubleshooter (সমস্যাসমাধান ব্যবস্থা)
Name[ca]=Detector d'errors del SELinux
Name[cs]=Řešení problému SELinuxu
Name[da]=SELinux fejlsøger
Name[de]=SELinux-Fehlersuche
Name[en_GB]=SELinux Troubleshooter
Name[es]=Asistente de Problemas SELinux
Name[fi]=SELinux-ongelmanratkaisin
Name[fr]=Journal des alertes SELinux 
Name[gu]=SELinux મુશ્કેલીનિવારક
Name[hi]=SELinux विघ्नहर्ता
Name[hu]=SELinux bajmentesítő
Name[it]=Risoluzione problemi SELinux
Name[ja]=SELinux トラブルシューター
Name[kn]=SELinux ತೊಂದರೆನಿವಾರಕ
Name[ko]=SELinux 문제 해결사 
Name[ml]=SELinux ട്രബിള്‍ഷൂട്ടര്‍
Name[mr]=SELinux त्रुटीनिवारक
Name[nl]=SELinux probleem oplosser
Name[or]=SELinux Troubleshooter
Name[pa]=SELinux ਸਮੱਸਿਆ-ਨਿਪਟਾਰਾ
Name[pl]=Rozwiązywanie problemów z SELinuksem
Name[pt]=Despistar problemas SELinux
Name[pt_BR]=Solução de problemas do SELinux
Name[ru]=Диагностика проблем SELinux
Name[sr]=SELinux претраживач грешака
Name[sr@latin]=SELinux pretraživač grešaka
Name[sv]=SELinux felsökare
Name[ta]=SELinux Troubleshooter
Name[te]=SELinux పరిష్కారిణి
Name[th]=แก้ไขปัญหา SELinux
Name[uk]=Діагностика проблем SELinux
Name[zh_CN]=SELinux 故障排除工具
Name[zh_TW]=SELinux 疑難排解程式
GenericName=SELinux Troubleshooter
GenericName[as]=SELinux Troubleshooter
GenericName[bg]=SELinux коректор
GenericName[bn_IN]=SELinux Troubleshooter (সমস্যাসমাধান ব্যবস্থা)
GenericName[ca]=Detector d'errors del SELinux
GenericName[cs]=Řešení problému SELinuxu
GenericName[da]=SELinux fejlsøger
GenericName[de]=SELinux-Fehlersuche
GenericName[en_GB]=SELinux Troubleshooter
GenericName[es]=Asistente de Problemas SELinux
GenericName[fi]=SELinux-ongelmanratkaisin
GenericName[fr]=Journal des alertes SELinux 
GenericName[gu]=SELinux મુશ્કેલીનિવારક
GenericName[hi]=SELinux विघ्नहर्ता
GenericName[hu]=SELinux bajmentesítő
GenericName[it]=Risoluzione problemi SELinux
GenericName[ja]=SELinux トラブルシューター
GenericName[kn]=SELinux ತೊಂದರೆನಿವಾರಕ
GenericName[ko]=SELinux 문제 해결사 
GenericName[ml]=SELinux ട്രബിള്‍ഷൂട്ടര്‍
GenericName[mr]=SELinux त्रुटीनिवारक
GenericName[nl]=SELinux probleem oplosser
GenericName[or]=SELinux Troubleshooter
GenericName[pa]=SELinux ਸਮੱਸਿਆ-ਨਿਪਟਾਰਾ
GenericName[pl]=Rozwiązywanie problemów z SELinuksem
GenericName[pt]=Despistar problemas SELinux
GenericName[pt_BR]=Solução de problemas do SELinux
GenericName[ru]=Диагностика проблем SELinux
GenericName[sr]=SELinux претраживач грешака
GenericName[sr@latin]=SELinux pretraživač grešaka
GenericName[sv]=SELinux felsökare
GenericName[ta]=SELinux Troubleshooter
GenericName[te]=SELinux పరిష్కారిణి
GenericName[th]=แก้ไขปัญหา SELinux
GenericName[uk]=Діагностика проблем SELinux
GenericName[zh_CN]=SELinux 故障排除工具
GenericName[zh_TW]=SELinux 疑難排解程式
Comment=Troubleshoot SELinux access denials
Comment[as]=SELinux দ্বাৰা প্ৰতিৰোধ কৰা অনুমতিৰ সমস্যা সমাধান কৰক
Comment[bg]=Отстраняване на проблеми със SELinux достъпа
Comment[bn_IN]=SELinux দ্বারা প্রতিরোধ করা অনুমতির সমস্যা সমাধান করুন
Comment[ca]=Detector d'errors d'accesos denegats del SELinux
Comment[cs]=Odmítnutí přístupu SELinuxem
Comment[da]=Fejlsøg SELinux adgangsafslag
Comment[de]=Fehler in SELinux-Zugriffsverweigerungen suchen
Comment[en_GB]=Troubleshoot SELinux access denials
Comment[es]=Negaciones de acceso del Asistente de problemas de SELinux
Comment[fi]=Ratkaise SELinuxin pääsyesto-ongelmia
Comment[fr]=Visualise les refus d'accès de SELinux
Comment[gu]=SELinux વપરાશ નામંજૂરીઓનું મુશ્કેલીનિવારણ કરો
Comment[hi]=SELinux अभिगम मनाही विघ्ननिवारण करें
Comment[hu]=SELinux hozzáférés elutasítás bajok elintézése
Comment[it]=Risoluzione problemi SELinux rifiuti di accesso
Comment[ja]=SELinux アクセス拒否のトラブルシュート
Comment[kn]=SELinux ತೊಂದರೆನಿವಾರಕದ ನಿಲುಕಣಾ ನಿರಾಕರಣೆಗಳು
Comment[ko]=SELinux 액세스 거부 문제 해결 
Comment[ml]=ട്രബിള്‍ഷൂട്ട് SELinux ആക്സസ്സ് എതിര്‍പ്പുകള്‍
Comment[mr]=SELinux प्रवेश नकाराचे त्रुटी निर्धारण करा
Comment[nl]=Los SELinux toegang weigeringen op
Comment[or]=ତ୍ରୁଟି ନିବାରକ SELinux ପ୍ରବେଶ ନିଷିଦ୍ଧ
Comment[pa]=SELinux ਪਹੁੰਚ ਪਾਬੰਦੀ ਦਾ ਸਮੱਸਿਆ-ਨਿਪਟਾਰਾ
Comment[pl]=Rozwiązywanie problemów z odmówieniami dostępu SELinuksa
Comment[pt]=Despiste problemas com acessos negados devido ao SELinux
Comment[pt_BR]=Solucione problemas das negações de acesso do SELinux
Comment[ru]=Диагностика проблем отказа доступа SELinux
Comment[sr]=Решавање SELinux забрана приступа
Comment[sr@latin]=Rešavanje SELinux zabrana pristupa
Comment[sv]=Lokalisering av fel när SELinux nekat åtkomst
Comment[ta]=பிழைத்திருத்தம் SELinux அணுக முடியவில்லை
Comment[te]=SELinux వాడుక డినైల్స్‍‌ను పరిష్కరించుము
Comment[th]=แก้ไขปัญหาการปฎิเสธการเข้าถึงของ SELinux
Comment[uk]=Діагностика проблем відмові у доступі SELinux
Comment[zh_CN]=对 SELinux 拒绝的访问进行故障排除
Comment[zh_TW]=為 SELinux 被拒絕存取進行疑難排解
Categories=System;
Exec=/usr/bin/sealert -b
Terminal=false
Type=Application
Icon=setroubleshoot_icon
Encoding=UTF-8
StartupNotify=true
