policy_module(unlabelednet, 1.0.0)

corenet_enable_unlabeled_packets()

gen_require(`
    type unlabeled_t;
    attribute domain;
')

# temporary hack until labeling on packets is supported
allow domain unlabeled_t:packet { send recv };

