## <summary> Policy for allowing confined domains to talk use unlabeled_t packets. </summary>

########################################
## <summary>
##	Allow specified type to send recv unlabeled packets
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unlabelednet_sendrecv_packets',`
	gen_require(`
		attribute unlabelednet_domain;
	')

	kernel_sendrecv_unlabeled_association($1)
')
