policy_module(permissivedomains,17)


optional_policy(`
	gen_require(`
		type blueman_t;
	')

	permissive blueman_t;
')

optional_policy(`
	gen_require(`
		type httpd_zoneminder_script_t, zoneminder_t;
	')

	permissive httpd_zoneminder_script_t;
	permissive zoneminder_t;
')

optional_policy(`
    gen_require(`
        type selinux_munin_plugin_t;
    ')

	permissive selinux_munin_plugin_t;
')

optional_policy(`
    gen_require(`
        type dnssec_trigger_t;
    ')

    permissive dnssec_trigger_t;
')


optional_policy(`
    gen_require(`
        type obex_t;
    ')

    permissive obex_t;
')
