policy_module(permissivedomains,16)

optional_policy(`
      gen_require(`
             type polipo_t;
      ')

      permissive polipo_t;
')

optional_policy(`
      gen_require(`
             type bootloader_t;
      ')

      permissive bootloader_t;
')

optional_policy(`
      gen_require(`
             type systemd_logger_t;
      ')

      permissive systemd_logger_t;
')

optional_policy(`
      gen_require(`
             type systemd_logind_t;
      ')

      permissive systemd_logind_t;
')

optional_policy(`
      gen_require(`
             type fcoemon_t;
      ')

      permissive fcoemon_t;
')

optional_policy(`
      gen_require(`
             type httpd_passwd_t;
      ')

      permissive httpd_passwd_t;
')

optional_policy(`
      gen_require(`
             type puppetca_t;
      ')

      permissive puppetca_t;
')

optional_policy(`
      gen_require(`
             type spamd_update_t;
      ')

      permissive spamd_update_t;
')

optional_policy(`
      gen_require(`
             type rhev_agentd_t;
      ')

      permissive rhev_agentd_t;
')

optional_policy(`
      gen_require(`
             type abrt_handle_event_t;
      ')

      permissive abrt_handle_event_t;
')

optional_policy(`
      gen_require(`
             type cfengine_serverd_t;
      ')

      permissive cfengine_serverd_t;
')

optional_policy(`
      gen_require(`
             type cfengine_execd_t;
      ')

      permissive cfengine_execd_t;
')

optional_policy(`
      gen_require(`
             type cfengine_monitord_t;
      ')

      permissive cfengine_monitord_t;
')

optional_policy(`
      gen_require(`
             type rhsmcertd_t;
      ')

      permissive rhsmcertd_t;
')

optional_policy(`
	gen_require(`
		type sshd_sandbox_t;
	')

	permissive sshd_sandbox_t;
')

optional_policy(`
      gen_require(`
             type fail2ban_client_t;
      ')

      permissive fail2ban_client_t;
')

optional_policy(`
      gen_require(`
             type ctdbd_t;
      ')

      permissive ctdbd_t;
')

optional_policy(`
      gen_require(`
             type mscan_t;
      ')

      permissive mscan_t;
')

optional_policy(`
      gen_require(`
             type lldpad_t;
      ')

      permissive lldpad_t;
')

optional_policy(`
      gen_require(`
             type sblim_gatherd_t;
      ')

      permissive sblim_gatherd_t;
')

optional_policy(`
      gen_require(`
             type sblim_gatherd_t;
      ')

      permissive sblim_gatherd_t;
')

optional_policy(`
      gen_require(`
             type callweaver_t;
      ')

      permissive callweaver_t;
')

optional_policy(`
      gen_require(`
             type sanlock_t;
      ')

      permissive sanlock_t;
')

optional_policy(`
      gen_require(`
             type uuidd_t;
      ')

      permissive uuidd_t;
')

optional_policy(`
      gen_require(`
             type wdmd_t;
      ')

      permissive wdmd_t;
')

optional_policy(`
      gen_require(`
             type dspam_t;
      ')

      permissive dspam_t;
')

optional_policy(`
      gen_require(`
             type virt_lxc_t;
      ')

      permissive virt_lxc_t;
')

optional_policy(`
      gen_require(`
             type virtd_t;
      ')

      permissive virtd_t;
')

optional_policy(`
      gen_require(`
             type pyicqt_t;
      ')

      permissive pyicqt_t;
')

optional_policy(`
      gen_require(`
             type telepathy_logger_t;
      ')

      permissive telepathy_logger_t;
')

optional_policy(`
      gen_require(`
             type glance_registry_t;
             type glance_api_t;
      ')

      permissive glance_registry_t;
      permissive glance_api_t;
')

optional_policy(`
      gen_require(`
             type thumb_t;
      ')

      permissive thumb_t;
')

optional_policy(`
      gen_require(`
             type virt_qmf_t;
      ')

      permissive virt_qmf_t;
')

