policy_module(systemd-run, 1.10.0)

gen_require(`
	class passwd { passwd rootok };
	type unconfined_t;
')

########################################
#
# Declarations
attribute systemd-rundomain;

# Define the actual domain type
type systemd-run_t, systemd-rundomain;
domain_type(systemd-run_t)

type systemd-run_exec_t;
application_executable_file(systemd-run_exec_t)

type systemd-run_db_t;
files_type(systemd-run_db_t)
mls_trusted_object(systemd-run_db_t)

type systemd-run_log_t;
logging_log_file(systemd-run_log_t)

manage_dirs_pattern(systemd-rundomain, systemd-run_db_t, systemd-run_db_t)
manage_files_pattern(systemd-rundomain, systemd-run_db_t, systemd-run_db_t)

manage_dirs_pattern(systemd-rundomain, systemd-run_log_t, systemd-run_log_t)
manage_files_pattern(systemd-rundomain, systemd-run_log_t, systemd-run_log_t)
logging_log_filetrans(systemd-rundomain, systemd-run_log_t, dir, "systemd-run-io")
logging_log_filetrans(systemd-rundomain, systemd-run_log_t, file, "systemd-run.log")


# Macro handles the transition from unconfined to systemd-run_t
domain_auto_transition_pattern(unconfined_t, systemd-run_exec_t, systemd-run_t)

# Use the specific TYPE for domain transitions
corecmd_shell_domtrans(systemd-run_t, systemd-run_t)
userdom_spec_domtrans_all_users(systemd-run_t)

##############################
#
# Local Policy
#

allow systemd-run_t systemd-run_exec_t:file entrypoint;

# (This happens when systemd-run executes a shell)
allow systemd-run_t systemd-run_exec_t:file { getattr read map execute open };

gen_require(`
    type unconfined_t;
    type rpm_t;
    type rpm_exec_t;
    type init_var_run_t;
    role unconfined_r;
')

########################################
# Fix the entrypoint for systemd-run itself
allow systemd-run_t systemd-run_exec_t:file entrypoint;

# Fix the /run/systemd search
allow systemd-run_t init_var_run_t:dir search;

# 3. Explicitly allow systemd-run_t to run RPM
allow systemd-run_t rpm_exec_t:file { getattr open read execute map };
type_transition systemd-run_t rpm_exec_t:process rpm_t;
allow systemd-run_t rpm_t:process transition;

# Transition to standard shells
corecmd_shell_domtrans(systemd-run_t, systemd-run_t)

type_transition unconfined_t rpm_exec_t:process rpm_t;
allow unconfined_t rpm_t:process transition;

# Use capabilities.
allow systemd-rundomain self:capability { chown fowner setuid setgid dac_read_search dac_override sys_nice sys_resource };
dontaudit systemd-rundomain self:capability net_admin;
allow systemd-rundomain self:process ~{ ptrace setcurrent setexec setfscreate setrlimit execmem execstack execheap };
allow systemd-rundomain self:process { setexec setrlimit };
allow systemd-rundomain self:fd use;
allow systemd-rundomain self:fifo_file rw_fifo_file_perms;
allow systemd-rundomain self:shm create_shm_perms;
allow systemd-rundomain self:sem create_sem_perms;
allow systemd-rundomain self:msgq create_msgq_perms;
allow systemd-rundomain self:msg { send receive };
allow systemd-rundomain self:unix_dgram_socket create_socket_perms;
allow systemd-rundomain self:unix_stream_socket create_stream_socket_perms;
allow systemd-rundomain self:unix_dgram_socket sendto;
allow systemd-rundomain self:unix_stream_socket connectto;
allow systemd-rundomain self:key manage_key_perms;
allow systemd-rundomain self:netlink_kobject_uevent_socket create_socket_perms;
allow systemd-rundomain self:netlink_selinux_socket create_socket_perms;
allow systemd-rundomain self:passwd { passwd rootok };

kernel_getattr_core_if(systemd-rundomain)
kernel_link_key(systemd-rundomain)
kernel_read_kernel_sysctls(systemd-rundomain)

corecmd_read_bin_symlinks(systemd-rundomain)
corecmd_exec_all_executables(systemd-rundomain)

dev_getattr_fs(systemd-rundomain)
dev_read_urand(systemd-rundomain)
dev_rw_generic_usb_dev(systemd-rundomain)
dev_read_sysfs(systemd-rundomain)
dev_dontaudit_getattr_all(systemd-rundomain)

domain_use_interactive_fds(systemd-rundomain)
domain_sigchld_interactive_fds(systemd-rundomain)
domain_getattr_all_entry_files(systemd-rundomain)

files_read_etc_files(systemd-rundomain)
files_list_var(systemd-rundomain)
files_read_var_files(systemd-rundomain)
files_read_usr_files(systemd-rundomain)
# for some PAM modules and for cwd
files_dontaudit_search_home(systemd-rundomain)
files_list_tmp(systemd-rundomain)

fs_search_auto_mountpoints(systemd-rundomain)
fs_getattr_all_fs(systemd-rundomain)

selinux_validate_context(systemd-rundomain)
selinux_compute_relabel_context(systemd-rundomain)
selinux_compute_access_vector(systemd-rundomain)

term_getattr_pty_fs(systemd-rundomain)
term_relabel_all_ttys(systemd-rundomain)
term_relabel_all_ptys(systemd-rundomain)
term_use_ptmx(systemd-rundomain)

#auth_run_chk_passwd(systemd-rundomain)
# systemd-run stores a token in the pam_pid directory
auth_manage_pam_pid(systemd-rundomain)
auth_manage_faillog(systemd-rundomain)
auth_read_var_auth(systemd-rundomain)
auth_rw_lastlog(systemd-rundomain)

application_signal(systemd-rundomain)

init_rw_utmp(systemd-rundomain)

logging_send_audit_msgs(systemd-rundomain)
logging_set_audit_parameters(systemd-rundomain)

seutil_read_default_contexts(systemd-rundomain)

userdom_spec_domtrans_all_users(systemd-rundomain)
userdom_manage_user_home_content_files(systemd-rundomain)
userdom_manage_user_home_content_symlinks(systemd-rundomain)
userdom_manage_user_tmp_files(systemd-rundomain)
userdom_manage_user_tmp_symlinks(systemd-rundomain)
userdom_use_user_terminals(systemd-rundomain)
userdom_create_user_pty(systemd-rundomain)
userdom_setattr_user_ptys(systemd-rundomain)
userdom_setattr_user_ttys(systemd-rundomain)
userdom_signal_all_users(systemd-rundomain)
userdom_exec_user_home_content_files(systemd-rundomain)
# for some PAM modules and for cwd
userdom_search_user_home_content(systemd-rundomain)
userdom_search_admin_dir(systemd-rundomain)
userdom_manage_all_users_keys(systemd-rundomain)

tunable_policy(`authlogin_yubikey',`
    auth_manage_home_content(systemd-rundomain)
')

optional_policy(`
	dbus_system_bus_client(systemd-rundomain)

	optional_policy(`
		systemd_dbus_chat_logind(systemd-rundomain)
		init_getpgid(systemd-rundomain)
	')
')

optional_policy(`
	ssh_signull(systemd-rundomain)
')

optional_policy(`
    systemd_write_inherited_logind_sessions_pipes(systemd-rundomain)
')

optional_policy(`
	fprintd_dbus_chat(systemd-rundomain)
')
