policy_module(application, 1.2.0)

# Attribute of user applications
attribute application_domain_type;

# Executables to be run by user
attribute application_exec_type;

domain_use_interactive_fds(application_domain_type)

userdom_inherit_append_user_home_content_files(application_domain_type)
userdom_inherit_append_admin_home_files(application_domain_type)
userdom_inherit_append_user_tmp_files(application_domain_type)
userdom_rw_inherited_user_tmp_files(application_domain_type)
userdom_mmap_rw_inherited_user_tmp_files(application_domain_type)
userdom_rw_inherited_user_pipes(application_domain_type)
logging_inherit_append_all_logs(application_domain_type)

files_dontaudit_search_non_security_dirs(application_domain_type)

auth_login_pgm_sigchld(application_domain_type)

optional_policy(`
	afs_rw_udp_sockets(application_domain_type)
')

optional_policy(`
	cfengine_append_inherited_log(application_domain_type)
')

optional_policy(`
	cron_rw_inherited_user_spool_files(application_domain_type)
	cron_sigchld(application_domain_type)
')

optional_policy(`
	ssh_rw_stream_sockets(application_domain_type)
')

optional_policy(`
	screen_sigchld(application_domain_type)
')

optional_policy(`
	sudo_sigchld(application_domain_type)
')
