policy_module(kdbus,1.0.0)

require {
    attribute login_pgm;
    type systemd_logind_t;
    }

allow login_pgm self:capability ipc_owner;

fs_manage_kdbus_files(login_pgm)
fs_manage_kdbus_dirs(login_pgm)

fs_manage_kdbus_dirs(systemd_logind_t)
fs_manage_kdbus_files(systemd_logind_t)
