## <summary>The unconfined service domain.</summary>

########################################
## <summary>
##	Connect to unconfined_server with a unix socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_stream_connect',`
	gen_require(`
		type unconfined_service_t;
	')

	files_search_pids($1)
	files_write_generic_pid_pipes($1)
	allow $1 unconfined_service_t:unix_stream_socket { getattr connectto };
')

########################################
## <summary>
##	Connect to unconfined_service_t with a unix socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_stream_connectto',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:unix_stream_socket connectto;
')

########################################
## <summary>
##	Connect to unconfined_server with a unix socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_domtrans',`
	gen_require(`
		type unconfined_service_t;
	')

	corecmd_bin_domtrans($1, unconfined_service_t)
')

########################################
## <summary>
##	Allow caller domain to dbus chat unconfined_server.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_dbus_chat',`
	gen_require(`
		type unconfined_service_t;
        class dbus send_msg;
	')

        allow $1 unconfined_service_t:dbus send_msg;
        allow unconfined_service_t $1:dbus send_msg;
')

########################################
## <summary>
##	Send signull to unconfined_service_t.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_signull',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:process signull;
')

########################################
## <summary>
##	Allow noatsecure.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_noatsecure',`
	gen_require(`
		type unconfined_service_t;
	')

    allow $1 unconfined_service_t:process { noatsecure };
')

########################################
## <summary>
##	Create unconfined_service_t TCP sockets.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_create_tcp_sockets',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:tcp_socket create_stream_socket_perms;
')

########################################
## <summary>
##	Create unconfined_service_t UDP sockets.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_create_udp_sockets',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:udp_socket create_socket_perms;
')

########################################
## <summary>
##	Create unconfined_service_t UNIX sockets.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unconfined_server_create_unix_sockets',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:unix_stream_socket create_stream_socket_perms;
	allow $1 unconfined_service_t:unix_dgram_socket create_socket_perms;
')

########################################
## <summary>
##	Do not audit attempts to read and write
#	unconfined service domain unnamed pipes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain to not audit.
##	</summary>
## </param>
#
interface(`unconfined_server_dontaudit_rw_pipes',`
	gen_require(`
		type unconfined_service_t;
	')

	dontaudit $1 unconfined_service_t:fifo_file rw_file_perms;
')

########################################
## <summary>
##	Create and use unconfined service shared memory
## </summary>
## <param name="domain">
##	<summary>
##	Domain to not audit.
##	</summary>
## </param>
#
interface(`unconfined_server_create_shm',`
	gen_require(`
		type unconfined_service_t;
	')

	allow $1 unconfined_service_t:shm create_shm_perms;
')
