policy_module(unconfined, 3.5.0)

########################################
#
# Declarations
#
attribute unconfined_services;

type unconfined_service_t;
domain_type(unconfined_service_t)
role system_r types unconfined_service_t;
init_nnp_daemon_domain(unconfined_service_t)

unconfined_domain(unconfined_service_t)

unconfined_stub_role()

role unconfined_r types unconfined_service_t;

corecmd_bin_entry_type(unconfined_service_t)
corecmd_shell_entry_type(unconfined_service_t)

optional_policy(`
	rpm_transition_script(unconfined_service_t, system_r)
')

optional_policy(`
    chronyd_run_chronyc(unconfined_service_t, system_r)
')

optional_policy(`
	dbus_chat_system_bus(unconfined_service_t)
')

optional_policy(`
	virt_transition_svirt(unconfined_service_t, system_r)
')

optional_policy(`
	container_runtime_domtrans(unconfined_service_t)
')
